{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans 'Portal' %}{% endblock %}
{% block media %}{% endblock %}

{% block body %}
<div class="container">
	
	<div class="mt-2">
		<div class="row mb-3">
			<div class="col-sm-3">


				{% include 'portal/avatar.html' %}


			
				{% include 'portal/menu.html' %}
			</div><!--/col-3-->
			<div class="col-sm-9">
				<a href="#">Add new</a>
				<table class="table table-striped table-bordered mg-top-10">
		            <thead>
		                <tr class="info">
		                    <th class="">#</th>
		                    <th class="">First name</th>
		                    <th class="">Last name</th>
		                    <th class="">Email</th>
		                    <th class="">Phone</th>
		                    <th class="">Active</th>
		                    <th class="right">Options</th>
		                </tr> 
		            </thead>
		            <tbody>
		                {% for m in all_users %}
		                <tr class="">
		                    <td class="">{{forloop.counter}}</td>
		                    <td class="">{{m.first_name}}</td>
		                    <td class="">{{m.last_name}}</td>
		                    <td class="">{{m.email}}</td>
		                    <td class="">{{m.profile.area_code}} {{m.profile.phone}}</td>
		                    <td class="">{{m.is_active}}</td>
		                    <td class="">{{m.area_code}} {{m.phone}}</td>
		                </tr>
		                {% empty %}
		                <tr>
		                    
		                </tr>
		                {% endfor %}
		            </tbody>
		        </table>
			</div>
		</div>
	</div>
</div>
{% endblock %}