{% load static i18n %}
<div class="text-center">
	<h5>{{user.profile.full_name}}</h5>
	<section id="section_business_logo" class="mb-2">
		<img src="{% if calc.business_logo_exists %}{{calc.business_logo.photo150.url}}{% endif %}"  style="height:150px;width:150px;border:solid 1px;">	
	</section>
	<label for="id_business_logo" class="btn btn-light"><i class="fa fa-upload"></i> {% if calc.business_logo_exists %}{% trans 'Change avatar' %}{% else %}{% trans 'Upload avatar' %}{% endif %}</label>
	<!-- <input type="file" id="id_business_logo" style="display: none" data-pr="#preview" class="read-photo" name="photo"> -->
	<input class="crossfile" data-json='{"w":"add-logo"}' data-next="#section_business_logo" type="file" style="display: none" accept=".jpg, .png, .gif" id="id_business_logo" name="business_logo">
</div>