<ul class="list-group">
	<li class="list-group-item text-right"><span class="pull-left"><a href="{% url 'xadministrators' %}">Administrators</a></span> 125</li>
	<li class="list-group-item text-right"><span class="pull-left"><a href="{% url 'xpartners' %}">Partners</a></span> 13</li>
	<li class="list-group-item text-right"><span class="pull-left"><a href="{% url 'portal' %}">Staff</a></span> 37</li>
	<li class="list-group-item text-right"><span class="pull-left"><a href="{% url 'portal' %}">Emails</a></span> 78</li>
	<li class="list-group-item text-right"><span class="pull-left"><a href="{% url 'portal' %}">Events</a></span> 78</li>
	<li class="list-group-item text-right"><span class="pull-left"><a href="{% url 'portal' %}">Gallery</a></span> 78</li>
	<hr>
	<li class="list-group-item text-right"><span class="pull-left"><a href="{% url 'portal' %}">Organizations</a></span> 78</li>
	<li class="list-group-item text-right"><span class="pull-left"><a href="{% url 'portal' %}">Volunteers</a></span> 78</li>
	<li class="list-group-item text-right"><span class="pull-left"><a href="{% url 'portal' %}">Contact</a></span> 78</li>
</ul> 