{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans 'Portal' %}{% endblock %}
{% block media %}{% endblock %}

{% block body %}
<div class="container">
	
	<div class="mt-2">
		<div class="row mb-3">
			<div class="col-sm-3">


				{% include 'portal/avatar.html' %}


			
				{% include 'portal/menu.html' %}
			</div><!--/col-3-->
			<div class="col-sm-9">
				<a href="{% url 'xpartners' %}"><i class="fa fa-chevron-left"></i> Back</a>
				<form action="" method="post">
					{% csrf_token %}
					<h3 class="text-danger">{% blocktrans with partner_name=partner.name %}Are you sure to delete <b>{{partner_name}}</b>? {% endblocktrans %}</h3>
					<a href="{% url 'xpartners' %}" class="btn btn-light btn-sm">Cancel</a>
					<button type="submit" class="btn btn-danger btn-sm">Yes</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}