{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans 'Portal' %}{% endblock %}
{% block media %}{% endblock %}

{% block body %}
<div class="container">
	
	<div class="mt-2">
		<div class="row mb-3">
			<div class="col-sm-3">


				{% include 'portal/avatar.html' %}


			
				{% include 'portal/menu.html' %}
			</div><!--/col-3-->
			<div class="col-sm-9">
				<a href="{% url 'xpartners' %}"><i class="fa fa-chevron-left"></i> Back</a>
				<form action="" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{{form.as_p}}
					{{form.errors}}
					<button type="submit" class="btn btn-success btn-sm">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}