{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans 'Portal' %}{% endblock %}
{% block media %}{% endblock %}

{% block body %}
<div class="container">
	
	<div class="mt-2">
		<div class="row mb-3">
			<div class="col-sm-3">


				{% include 'portal/avatar.html' %}


			
				{% include 'portal/menu.html' %}
			</div><!--/col-3-->
			<div class="col-sm-9">
				<a href="{% url 'xpartnerNew' %}">Add new</a>
				<table class="table table-striped table-bordered f-12">
		            <thead>
		                <tr class="info">
		                    <th class="">#</th>
		                    <th class="">Name</th>
		                    <th class="">Link</th>
		                    <th class="">Logo</th>
		                    <th class="right">Options</th>
		                </tr> 
		            </thead>
		            <tbody>
		                {% for p in all_partners %}
		                <tr class="">
		                    <td class="{% if p.active %}bold{% else %}text-secondary{% endif %}">{{forloop.revcounter}}</td>
		                    <td class="{% if p.active %}bold{% else %}text-secondary{% endif %}">{{p.name}}</td>
		                    <td class="{% if p.active %}bold{% else %}text-secondary{% endif %}">{{p.link}}</td>
		                    <td class="">
		                    	<img width="50" src="{{p.logo.url}}">
		                    </td>
		                    <td class="">
		                    	<a href="{% url 'xpartnerEdit' p.id %}" class="mr-2"><i class="fa fa-edit"></i> Edit</a>
		                    	<a href="{% url 'xpartnerVisibility' p.id %}?{% if p.active %}v=off{% else %}v=on{% endif %}" class="mr-2 text-secondary"><i class="fa fa-eye"></i> {% if p.active %}Hide{% else %}Show{% endif %}</a>
		                    	<a href="{% url 'xpartnerDelete' p.id %}" class="mr-2 text-danger"><i class="fa fa-trash"></i> Delete</a>
		                    </td>
		                </tr>
		                {% empty %}
		                <tr>
		                    
		                </tr>
		                {% endfor %}
		            </tbody>
		        </table>
			</div>
		</div>
	</div>
</div>
{% endblock %}