{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans 'Portal' %}{% endblock %}
{% block media %}{% endblock %}

{% block body %}
<div class="container">
	
	<div class="mt-2">
		<div class="row">
			<div class="col-sm-10"><h1>{{user.profile.full_name}}</h1></div>
		</div>
		<div class="row mb-3">
			<div class="col-sm-3">


				<div class="text-center">
					<section id="section_business_logo" class="mb-2">
						<img src="{% if calc.business_logo_exists %}{{calc.business_logo.photo150.url}}{% endif %}"  style="height:150px;width:150px;border:solid 1px;">	
					</section>
					<label for="id_business_logo" class="btn btn-light"><i class="fa fa-upload"></i> {% if calc.business_logo_exists %}{% trans 'Change avatar' %}{% else %}{% trans 'Upload avatar' %}{% endif %}</label>
					<!-- <input type="file" id="id_business_logo" style="display: none" data-pr="#preview" class="read-photo" name="photo"> -->
					<input class="crossfile" data-json='{"w":"add-logo"}' data-next="#section_business_logo" type="file" style="display: none" accept=".jpg, .png, .gif" id="id_business_logo" name="business_logo">
				</div>


			
				{% include 'portal/menu.html' %}
			</div><!--/col-3-->
			<div class="col-sm-9">
				
				<div class="tab-content">
					<div class="tab-pane active" id="home">
						<form class="form" action="##" method="post" id="registrationForm">
							<div class="form-group">

								<div class="col-xs-6">
									<label for="first_name"><h4>First name</h4></label>
									<input type="text" value="{{user.first_name}}" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
								</div>
							</div>
							<div class="form-group">

								<div class="col-xs-6">
									<label for="last_name"><h4>Last name</h4></label>
									<input type="text" value="{{user.last_name}}" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
								</div>
							</div>

							<div class="form-group">

								<div class="col-xs-6">
									<label for="phone"><h4>Phone</h4></label>
									<input type="text" class="form-control" value="{{user.profile.phone}}" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
								</div>
							</div>
							<div class="form-group">

								<div class="col-xs-6">
									<label for="email"><h4>Email</h4></label>
									<input type="email" class="form-control" value="{{user.profile.email}}" name="email" id="email" placeholder="you@email.com" title="enter your email.">
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-12">
									<br>
									<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
									<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
								</div>
							</div>
						</form>

						<hr>
					</div>

				</div><!--/tab-pane-->
			</div><!--/tab-content-->

		</div><!--/col-9-->
	</div><!--/row-->
</div>
<style type="text/css">

</style>
{% endblock %}