
.wmd-button-bar 
{
	width: 100%;
	background-color: red; 
}

.wmd-button-row 
{
	position: relative; 
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 10px;
	padding: 0px;  
	height: 20px;
}

.wmd-spacer
{
	width: 1px; 
	height: 20px; 
	margin-left: 14px;
	
	position: absolute;
	background-color: Silver;
	display: inline-block; 
	list-style: none;
}

.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background-image: url(../pagedown/pagedown/wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-spacer1
{
    left: 50px;
}
.wmd-spacer2
{
    left: 175px;
}
.wmd-spacer3
{
    left: 300px;
}

.wmd-prompt-background
{
	background-color: black;
}

.wmd-prompt-dialog
{
	border: 1px solid #999999;
	background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
	font-size: 0.8em;
	font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
	border: 1px solid #999999;
	color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
	border: 1px solid #888888;
	font-family: trebuchet MS, helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}


.wmd-preview-title {
    margin: 10px 0 5px 0 !important;
    padding-left: 0px !important;
}

.wmd-preview{
    max-height: 400px;
    overflow-y: auto;

    box-sizing: border-box;
    margin: 0;
}

.wmd-preview * {
    font-family: "newspaper";
}

.wmd-preview *:last-child {
    margin-bottom: 0;
}

.wmd-preview a { 
    color: #447e9b;
    text-decoration:underline;
}

.wmd-preview a:link,
.wmd-preview a:visited{
    color: #447e9b;
}

.wmd-preview a:hover,
.wmd-preview a:focus{
    color: #036;
}

.wmd-preview a:active{
    text-decoration: underline;
}

.wmd-preview a:hover,
.wmd-preview a:active{
    outline: 0;
}

.wmd-preview ::-moz-selection,
.wmd-preview ::selection,
.wmd-preview a::-moz-selection,
.wmd-preview a::selection {
    background: #84ADC5;
    color: #000
}

.wmd-preview p{
    margin: 0 0 15px;
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.wmd-preview img{
    max-width:100%;
}

.wmd-preview h1,
.wmd-preview h2,
.wmd-preview h3,
.wmd-preview h4,
.wmd-preview h5,
.wmd-preview h6 {
    margin:0 0 12px 0;
    padding: 0;
    color: #333;
    font-weight: bold;
    background: none;
}

.wmd-preview h1{ 
    font-size: 20px;  
}

.wmd-preview h2{
    font-size: 18px;   
}

.wmd-preview h3{
    font-size: 17px;
}

.wmd-preview h4{
    font-size: 16px;   
}

.wmd-preview h5{
    font-size: 15px;
}

.wmd-preview h6{
    font-size: 14px;
}

.wmd-preview blockquote{
    margin: 0 0 15px 0;
    padding-left: 1em;
    border-left: 0.5em #ddd solid;
}

    .wmd-preview blockquote p {
        font-style: italic;
    }


.wmd-preview hr {
    display: block;
    height: 0px;
    border: 0;
    font-style: italic;
    border-bottom: 1px solid #ddd;
    margin: 0 0 15px 0;
    padding: 0;
}

.wmd-preview pre,
.wmd-preview code,
.wmd-preview kbd,
.wmd-preview samp {
    color: #000; 
    font-family: Consolas, "Liberation Mono", Courier, monospace, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace !important;
}

/* Code inline */
.wmd-preview code {
    margin: 0 2px;
    padding: 0px 5px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 2px;
    color: #444;
    font-size: 95%;
}

    .wmd-preview a code{
        color: #447e9b;
    }

/* Block code */
.wmd-preview pre{
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 15px 0;
    padding: 10px;
    color: #333;
    
    margin: 0 0 15px 0;
    padding-left: 1em;
    background-color: #eee;
}
.wmd-preview pre code {
    background-color: transparent;
    border: 0;

    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
}

.wmd-preview b, .wmd-preview strong { font-weight: bold; }

.wmd-preview dfn { font-style: italic; }

.wmd-preview ins { background: #ff9; color: #000; text-decoration: none; }

.wmd-preview mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

.wmd-preview sub, .wmd-preview sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
.wmd-preview sup { top: -0.5em; }
.wmd-preview sub { bottom: -0.25em; }

.wmd-preview ul,
.wmd-preview ol {
    margin: 0 0 15px 15px !important;
    padding: 0 0 0 15px !important;
}

.wmd-preview ul li {
    list-style: disc !important;
}

.wmd-preview ul li ul,
.wmd-preview ol li ul,
.wmd-preview ul li ol,
.wmd-preview ol li ol{
    margin-bottom: 0 !important;
}

.wmd-preview li p:last-child {
    margin:0
}

.wmd-preview dl {
    padding: 0;
    margin: 0 0 15px 0;
} 

    .wmd-preview dt {
        padding: 0;
    }

    .wmd-preview dd {
        padding-left: 30px;
    }

.wmd-preview img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

.wmd-preview table { border-collapse: collapse; border-spacing: 0; }
.wmd-preview td { vertical-align: top; }