@font-face{
  font-family: 'scriptin';
  src:url("../fonts/scriptin.ttf");
}
@font-face{
  font-family: 'arty';
  src:url("../fonts/arty.ttf");
}
.scriptin{
	font-family: 'scriptin';
}
.arty{
  font-family: 'arty';
}
.navbar .navbar-nav .nav-link{
  color: #777;
  /*font-weight: bold;*/
  margin-left: .5rem;
  margin-right: .5rem;
  /*text-shadow: 1px 1px 2px #000000;*/
  padding: 15px 7px 15px 7px;
}
.modal.fade {
  z-index: 10000000 !important;
}

.navbar{
	background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 1px 1px 2px #ccc;
  z-index: 4 !important;
  
}
.navbar .navbar-nav li a.disabled{
  	color: #007bff;
  	transition: color .2s linear;
  	padding-right: .5rem;
    padding-left: .5rem;
    display: block;
    padding: .5rem 1rem;
    text-shadow: 1px 1px 2px #000000;
}
nav.navbar.glass-blue .navbar-nav li a.disabled{
  color: yellow;
  padding-right: .5rem;
	padding-left: .5rem;
	display: block;
	padding: .5rem 1rem;
}



.navbar input{
  	background:transparent;color: white;
}
.navbar input::placeholder{
  	color: #ddd;
}
nav.navbar {
  z-index: 34;
  background-color: gray;
  padding: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12) !important;
}

.navbar .navbar-nav .nav-item.active .nav-link{
   color: #FFF;
}
.navbar .navbar-nav .nav-link:hover{
  animation: .3s forwards;
  color:#85BC3B!important;
}
.navbar .navbar-nav .nav-item:hover{
   background-color: #008080;
   color:#85BC3B;
}
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus{
  color: #007bff;
}

.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #fff;
}
.navbar .navbar-nav .nav-item.active{
  border-bottom: solid 3px #85BC3B;
}
.navbar .navbar-nav .nav-item .nav-link{
  color:#85BC3B
}


.navbar .navbar-nav .dropdown-menu {
  background-color: #006666;
  color: #85BC3B;
  margin-top: -1px;
  border-radius: 0;
  padding: 0;
  z-index: 1;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  padding:10px;
  color: #85BC3B;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus{
  /*color: #007bff;*/
  background-color: #008080;
}

li.open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);  
  opacity:1;
  
}



.dropdown-menu {
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;  
  animation-fill-mode: forwards; 
  -webkit-transform: scale(1, 0);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}
.dropdown-menu > a:hover {
  background-color: white;
}

.navbar .open .dropdown-toggle, .nav > .open.active > a:hover {
  color: red;
}
.navbar-nav .dropdown:hover ul{
  background-color:rgba(255, 255, 255, 0.1);
}


.hidden{
  display: none;
}
.overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1; 
}

.border-gray{
	border-color: #eee;
}

.btn-shadow{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12) !important;
}
.btn-shadow:hover{
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.16),0 6px 10px 0 rgba(0,0,0,.12) !important;
}
.btn-shadow:active{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12) !important;
  margin-top:3px;
}
.btn-shadow:focus{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.36),0 2px 10px 0 rgba(0,0,0,.32) !important;
}
/*.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}*/

.btn{
  border-radius: 3px;
}

.overlay-white {
  background-color: #fff;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  position: absolute;
  right: 0;
  top: 0;
  /*z-index: 1; */
}

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -4px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -4px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}


.no-shadow-on-focus:focus {
/*    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;*/
    box-shadow: none;
}
.center-middle{
  vertical-align: middle;
  /*display: table-cell;*/
}
.middle { 
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.has-error{
  position: relative;
}
.has-error .form-control{
  border-color: #dc3545 !important;
}

.has-error label.control-label{
  color: #dc3545 !important;
}
.has-error .form-control:focus{
 border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px red inset, 0 0 8px red;
  outline: 0 none;
}
.invalid-feedback , .valid-feedback{
  height: 15px;
}

.empty{
  color: gray;
}

.container-fluid {
  padding-right:0;
  padding-left:0;
  margin-right:auto;
  margin-left:auto
}

.form-control-xs {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 12px;
}

div.input-group-append .btn-xs, .btn-xs {
    height: 1.5rem;
    line-height: .275rem;
    font-size: .675rem;
}


.blink {
  animation: blinker 1s linear 3s;
}

@keyframes blinker {  
  50% { opacity: 0; }
}