/* Handler CSS Version 1.1 */
/* November 8th, 2017 */
/* Designed by Le-mayzeur ; rynnika@gmail.com */

/*Sets the text hover color on navbar*/
.bd .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .btn > .bd{
    color: #03132C;
    background-color:#B0C4DE;
}

/*BACKGROUND color for active*/
.bd .navbar-nav > .active > a, .navbar-bd .navbar-nav > .active >   
 a:hover, .navbar-bd .navbar-nav > .active > a:focus {
    color: rgb(231,192,103);
    background-color:#A8A8d7;
}

/*change color of links in drop down here*/
.bd .dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus {
    color: rgb(8,64,8);
    text-decoration: none;
    background-color: gray;
}

/*Change rollover cell color here*/
.bd .nav > li > a:hover,.nav > li > a:focus {
    text-decoration: none;
    background-color: silver;
}


/* The color of the navbar */
.bd {
    background-color:transparent;
    width: 100%;
    border: none;
    border-radius: 0;

}

/* The settings of the navbar text */
.bd .navbar-nav > li > a {
   color: #C4BC96; 
   font-weight: bold;
}

.red{
	color:red;
}
.bg-red
{
    background: #f44336;
}

.bg-purple
{
    background: #673ab7;
}

.bg-indigo
{
    background: #3f51b5;
}

.bg-blue
{
    background: #2196f3;
}

.bg-cyan
{
    background: #00bcd4;
}

.bg-teal
{
    background: #009688;
}

.bg-green
{
    background: #4caf50;
}

.bg-lightGreen
{
    background: #8bc34a;
}

.bg-lime
{
    background: #c0ca33;
}

.bg-yellow
{
    background: #fdd835;
}

.bg-amber
{
    background: #ffc107;
}

.bg-orange
{
    background: #ff9800
}

.bg-deepOrange
{
    background: #ff5722;
}

.bg-brown
{
    background: #795548;
}

.bg-gray
{
    background: #9e9e9e;
}

.gray{
	color:gray;
}
.gray-1{
	color:#eee;
}
.gray-2{
	color:#ddd;
}
.gray-3{
	color:#ccc;
}
.gray-4{
	color:#bbb;
}
.gray-5{
	color:#aaa;
}

.blue{
	color:blue;
}
.bg-blue{
	background-color:blue;
}
.green{
	color:green;
}
.bg-green{
	background-color:green;
}
.white{
	color:white;
}
.bg-white{
	background-color:white;
}
.yellow{
	color:yellow;
}
.bg-yellow{
	background-color:yellow;
}
.black{
	color:black;
}
.bg-black{
	background-color:black;
}

.facebook-color{
	color: #3b5998;
}
.facebook-bg-color{
	background-color: #3b5998;
}
.twitter-color{
	color: #00acee;
}
.twitter-bg-color{
	background-color: #00acee;
}
.google-plus-color{
	color: #BD3518;
}
.google-plus-bg-color{
	background-color: #BD3518;
}
.linkedin-color{
	color:#007bb6; 
}
.linkedin-bg-color{
	background-color: #007bb6;
}
.youtube-color{
	color:#dd4b39; 
}
.youtube-bg-color{
	background-color: #dd4b39;
}


/* 3D Effect */

.btn-3d {
    transition:all .08s linear;
    position:relative;
    outline:medium none;
    -moz-outline-style:none;
    border:0px;
    margin-right:10px;
    margin-top:15px;
}
.btn-3d:focus {
    outline:medium none;
    -moz-outline-style:none;
}

.btn-default-3d {
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #adadad, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#fff;
}
.btn-primary-3d {
    box-shadow:0 0 0 1px #428bca inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #357ebd, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#428bca;
}
.btn-girl-3d {
    box-shadow:0 0 0 1px #fa38e3 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #357ebd, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#428bca;
}
.btn-awaeome-3d {
    box-shadow:0 0 0 1px #282828 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #357ebd, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#428bca;
}
 .btn-success-3d {
    box-shadow:0 0 0 1px #5cb85c inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #4cae4c, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#5cb85c;
}
 .btn-info-3d {
    box-shadow:0 0 0 1px #5bc0de inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #46b8da, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#5bc0de;
}
.btn-warning-3d {
    box-shadow:0 0 0 1px #f0ad4e inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #eea236, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#f0ad4e;
}
.btn-danger-3d {
    box-shadow:0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #C24032, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#c63702;
}

.btn-girl {
  color: #fff;
  background-color: #fa38e3;
  border-color: #CC00CC;
}
.btn-girl:focus,
.btn-girl.focus {
  color:#fff;
  background-color: #CC00CC;
  border-color: #CC00CC;
}
.btn-girl:hover, {
  color:#fff;
  background-color: #CC00CC;
  border-color: #CC00CC;
}
.btn-girl.disabled:hover,
.btn-girl[disabled]:hover,
fieldset[disabled] .btn-girl:hover,
.btn-girl.disabled:focus,
.btn-girl[disabled]:focus,
fieldset[disabled] .btn-girl:focus,
.btn-girl.disabled.focus,
.btn-girl[disabled].focus,
fieldset[disabled] .btn-girl.focus {
  background-color: #FC92EF;
  border-color: #FF75FF;
}

.btn-awesome {
  color: #fff;
  background-color: #3A3A3A;
  border-color: #282828;
}
.btn-awesome:focus,
.btn-awesome.focus {
  color:#fff;
  background-color: #282828;
  border-color: #282828;
}
.btn-awesome:hover, {
  color:#fff;
  background-color: #282828;
  border-color: #282828;
}
.btn-awesome.disabled:hover,
.btn-awesome[disabled]:hover,
fieldset[disabled] .btn-awesome:hover,
.btn-awesome.disabled:focus,
.btn-awesome[disabled]:focus,
fieldset[disabled] .btn-awesome:focus,
.btn-awesome.disabled.focus,
.btn-awesome[disabled].focus,
fieldset[disabled] .btn-awesome.focus {
  background-color: #5E5E5E;
  border-color: #5E5E5E;
  color:#ccc;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}
.btn-girl.btn-outline {
    color: #fa38e3;
}
.btn-awesome.btn-outline {
    color: #282828;
}
.btn-success.btn-outline {
    color: #006400;
    border-color: #006400;
}
.btn-success.btn-outline:hover{
  background-color: #004600;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.btn-default.btn-outline {
    color: #ccc;
}
.btn-default.btn-outline:hover {
    color: #000;
    background-color: #ccc;
}

.no-resize{
  	resize: none;
}
.grayscale{
  	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  	filter: grayscale(100%);
}	
.middle { 
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%,-50%);
  	position: absolute;
}

.center{
	text-align: center;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
.justify{
	text-align: justify;
	text-justify: inter-word;
}

.no-radius{
	border-radius: 0;
}

.space-15{
  	letter-spacing: 1.5px;
}

.space-25{
  	letter-spacing: 2.5px;
}
.space-35{
  	letter-spacing: 3.5px;
}

.none-style{
	text-decoration:none;
}

.pointer, .cursor-pointer{
	cursor:pointer;
}
.cursor-default{
  cursor: default;
}

.muted-1, .muted{
  	color: #ddd;
}

.muted-2{
  	color: #ccc;
}

.muted-3{
  	color: #bbb;
}

.muted-4{
  	color: #aaa;
}

.muted-5{
  	color: #999;
}
.f-5{
	font-size: 9px
}
.f-6{
	font-size: 9px
}
.f-7{
	font-size: 9px
}
.f-8{
	font-size: 9px
}
.f-9{
	font-size: 9px
}
.f-10{
	font-size: 10px
}
.f-11{
	font-size: 11px
}
.f-12{
	font-size: 12px
}
.f-13{
	font-size: 13px
}
.f-14{
	font-size: 14px
}
.f-15{
	font-size: 15px
}
.f-16{
	font-size: 16px
}
.f-17{
	font-size: 17px
}
.f-18{
	font-size: 18px
}
.f-19{
	font-size: 19px
}
.f-20{
  font-size: 20px
}
.f-21{
  font-size: 20px
}
.f-22{
  font-size: 21px
}
.f-22{
  font-size: 22px
}
.f-23{
  font-size: 23px
}
.f-24{
  font-size: 24px
}
.f-25{
  font-size: 25px
}
.f-26{
  font-size: 26px
}
.f-27{
  font-size: 27px
}
.f-28{
  font-size: 28px
}
.f-29{
  font-size: 29px
}
.f-30{
  font-size: 30px
}


.normal{
  	font-weight: normal;
}

.bold{
	font-weight: bold;
}
.underline{
	text-decoration: underline;
}
.no-underline:hover{
	text-decoration: none;
}

.italic{
	font-style: italic;
}

.upper{
	text-transform: uppercase;
}

.lower{
	text-transform: lowercase;
}

.capitalize{
	text-transform: capitalize;
}
  
.col-xs-offset-80 {
  margin-left: 80%;
}
.col-xs-offset-60 {
  margin-left: 60%;
}
.col-xs-offset-40 {
  margin-left: 40%;
}
.col-xs-offset-20 {
  margin-left: 20%;
}
.col-xs-offset-81 {
  margin-left: 81.81%;
}
.col-xs-offset-72 {
  margin-left: 72.72%;
}
.col-xs-offset-63 {
  margin-left: 63.63%;
}
.col-xs-offset-54 {
  margin-left: 54.54%;
}
.col-xs-offset-45 {
  margin-left: 45.45%;
}
.col-xs-offset-36 {
  margin-left: 36.36%;
}
.col-xs-offset-27 {
  margin-left: 27.27%;
}
.col-xs-offset-25 {
  margin-left: 25%;
}
.col-xs-offset-18 {
  margin-left: 18.8%;
}
.col-xs-offset-09 {
  margin-left: 9.09%;
}
.col-xs-offset-85 {
  margin-left: 85.68%;
}
.col-xs-offset-71 {
  margin-left: 71.4%;
}
.col-xs-offset-42 {
  margin-left: 42.84%;
}
.col-xs-offset-28 {
  margin-left: 28.56%;
}
.col-xs-offset-14 {
  margin-left: 14.28%;
}
.col-xs-09, .col-sm-09, .col-md-09,	.col-lg-09,/* 11 Cells */
.col-xs-18, .col-sm-18, .col-md-18,	.col-lg-18,/* 11 Cells */
.col-xs-27, .col-sm-27, .col-md-27,	.col-lg-27,/* 11 Cells */
.col-xs-36, .col-sm-36, .col-md-36,	.col-lg-36,/* 11 Cells */
.col-xs-45, .col-sm-45, .col-md-45,	.col-lg-45,/* 11 Cells */
.col-xs-54, .col-sm-54, .col-md-54,	.col-lg-54,/* 11 Cells */
.col-xs-63, .col-sm-63, .col-md-63,	.col-lg-63,/* 11 Cells */
.col-xs-72, .col-sm-72, .col-md-72,	.col-lg-72,/* 11 Cells */
.col-xs-81, .col-sm-81, .col-md-81,	.col-lg-81,/* 11 Cells */
.col-xs-20, .col-sm-20, .col-md-20,	.col-lg-20,/* 5 Cells */
.col-xs-40, .col-sm-40, .col-md-40,	.col-lg-40,/* 5 Cells */
.col-xs-60, .col-sm-60, .col-md-60,	.col-lg-60,/* 5 Cells */
.col-xs-80, .col-sm-80, .col-md-80,	.col-lg-80,/* 5 Cells */
.col-xs-14, .col-sm-14, .col-md-14, .col-lg-14,/* 7 Cells */
.col-xs-28, .col-sm-28, .col-md-28, .col-lg-28,/* 7 Cells */
.col-xs-42, .col-sm-42, .col-md-42, .col-lg-42,/* 7 Cells */
.col-xs-71, .col-sm-71, .col-md-71, .col-lg-71,/* 7 Cells */
.col-xs-85, .col-sm-85, .col-md-85, .col-lg-85 /* 7 Cells */
{
  	position: relative;
  	min-height: 1px;
  	padding-right: 10px;
  	padding-left: 10px;
}

.col-xs-09{
  	width: 9.09%;
  	float: left;
}
.col-xs-18{
  	width: 18.18%;
  	float: left;
}
.col-xs-27{
  	width: 27.27%;
  	float: left;
}
.col-xs-36{
  	width: 36.36%;
  	float: left;
}
.col-xs-45{
  	width: 45.45%;
  	float: left;
}
.col-xs-54{
  	width: 54.54%;
  	float: left;
}
.col-xs-63{
  	width: 63.63%;
  	float: left;
}
.col-xs-72{
  	width: 72.72%;
  	float: left;
}
.col-xs-81{
  	width: 81.81%;
  	float: left;
}
.col-xs-90{
  	width: 90.90%;
  	float: left;
}

.col-xs-20{
  	width: 20%;
  	float: left;
}
.col-xs-40{
  	width: 40%;
  	float: left;
}
.col-xs-60{
  	width: 60%;
  	float: left;
}
.col-xs-80{
  	width: 80%;
  	float: left;
}

.col-xs-85{
  	width: 85.68%;
  	float: left;
}

.col-xs-71{
  	width: 71.4%;
  	float: left;
}

.col-xs-57{
  	width: 57.12%;
  	float: left;
}
.col-xs-42{
  	width: 42.84%;
  	float: left;
}
.col-xs-28{
  	width: 28.56%;
  	float: left;
}
.col-xs-14{
  	width: 14.28%;
  	float: left;
}
@media (max-width: 568px) { /* Phone screen */
  
}


@media (min-width: 768px) { /* Tablette screen */
	.col-sm-09{
	  	width: 9.09%;
	  	float: left;
	}
	.col-sm-18{
	  	width: 18.18%;
	  	float: left;
	}
	.col-sm-27{
	  	width: 27.27%;
	  	float: left;
	}
	.col-sm-36{
	  	width: 36.36%;
	  	float: left;
	}
	.col-sm-45{
	  	width: 45.45%;
	  	float: left;
	}
	.col-sm-54{
	  	width: 54.54%;
	  	float: left;
	}
	.col-sm-63{
	  	width: 63.63%;
	  	float: left;
	}
	.col-sm-72{
	  	width: 72.72%;
	  	float: left;
	}
	.col-sm-81{
	  	width: 81.81%;
	  	float: left;
	}
	.col-sm-90{
		width: 90.90%;
		float: left;
	}
	.col-sm-20{
	    width: 20%;
	    float: left;
	}
	.col-sm-40{
	    width: 40%;
	    float: left;
	}
	.col-sm-60{
	    width: 60%;
	    float: left;
	}
	.col-sm-80{
	    width: 80%;
	    float: left;
	}
	.col-sm-85{
	    width: 85.68%;
	    float: left;
	}

	.col-sm-71{
	    width: 71.4%;
	    float: left;
	}

	.col-sm-57{
	    width: 57.12%;
	    float: left;
	}
	.col-sm-42{
	    width: 42.84%;
	    float: left;
	}
	.col-sm-28{
	    width: 28.56%;
	    float: left;
	}
	.col-sm-14{
		width: 14.28%;
	    float: left;
	}

}
@media (min-width: 992px) {
	.col-md-09{
	  	width: 9.09%;
	  	float: left;
	}
	.col-md-18{
	  	width: 18.18%;
	  	float: left;
	}
	.col-md-27{
	  	width: 27.27%;
	  	float: left;
	}
	.col-md-36{
	  	width: 36.36%;
	  	float: left;
	}
	.col-md-45{
	  	width: 45.45%;
	  	float: left;
	}
	.col-md-54{
	  	width: 54.54%;
	  	float: left;
	}
	.col-md-63{
	  	width: 63.63%;
	  	float: left;
	}
	.col-md-72{
	  	width: 72.72%;
	  	float: left;
	}
	.col-md-81{
	  	width: 81.81%;
	  	float: left;
	}
	.col-md-90{
	  	width: 90.90%;
	  	float: left;
	}
  	.col-md-20{
    	width: 20%;
    	float: left;
  	}
  	.col-md-40{
    	width: 40%;
    	float: left;
  	}
  	.col-md-60{
    	width: 60%;
    	float: left;
  	}
  	.col-md-80{
    	width: 80%;
    	float: left;
  	}
  	.col-md-85{
    	width: 85.68%;
    	float: left;
  	}

  	.col-md-71{
    	width: 71.4%;
    	float: left;
  	}

  	.col-md-57{
    	width: 57.12%;
    	float: left;
  	}
  	.col-md-42{
    	width: 42.84%;
    	float: left;
  	}
  	.col-md-28{
    	width: 28.56%;
    	float: left;
  	}
  	.col-md-14{
    	width: 14.28%;
    	float: left;
  	}

}

@media (min-width: 1200px) {
	.col-lg-09{
	  	width: 9.09%;
	  	float: left;
	}
	.col-lg-18{
	  	width: 18.18%;
	  	float: left;
	}
	.col-lg-27{
	  	width: 27.27%;
	  	float: left;
	}
	.col-lg-36{
	  	width: 36.36%;
	  	float: left;
	}
	.col-lg-45{
	  	width: 45.45%;
	  	float: left;
	}
	.col-lg-54{
	  	width: 54.54%;
	  	float: left;
	}
	.col-lg-63{
	  	width: 63.63%;
	  	float: left;
	}
	.col-lg-72{
	  	width: 72.72%;
	  	float: left;
	}
	.col-lg-81{
	  	width: 81.81%;
	  	float: left;
	}
	.col-lg-90{
	  	width: 90.90%;
	  	float: left;
	}
  	.col-lg-20{
    	width: 20%;
    	float: left;
  	}
  	.col-lg-40{
    	width: 40%;
    	float: left;
  	}
  	.col-lg-60{
    	width: 60%;
    	float: left;
  	}
  	.col-lg-80{
    	width: 80%;
    	float: left;
  	}

  	.col-lg-85{
    	width: 85.68%;
    	float: left;
  	}

  	.col-lg-71{
    	width: 71.4%;
    	float: left;
  	}

  	.col-lg-57{
    	width: 57.12%;
    	float: left;
  	}
  	.col-lg-42{
    	width: 42.84%;
    	float: left;
  	}
  	.col-lg-28{
    	width: 28.56%;
    	float: left;
  	}
  	.col-lg-14{
    	width: 14.28%;
    	float: left;
  	}
}
.mg-0{
  margin: 0;
}
.pg-0{
  padding: 0;
}
.mg-10{
  margin: 10px;
}
.pg-10{
  padding: 10px;
}
.mg-20{
  margin: 20px;
}
.pg-20{
  padding: 20px;
}
.mg-30{
  margin: 30px;
}
.pg-30{
  padding: 30px;
}
.mg-40{
  margin: 40px;
}
.pg-40{
  padding: 40px;
}
.mg-50{
  margin: 50px;
}
.pg-50{
  padding: 50px;
}
.mg-60{
  margin: 60px;
}
.pg-60{
  padding: 60px;
}
.mg-70{
  margin: 70px;
}
.pg-70{
  padding: 70px;
}
.mg-80{
  margin: 80px;
}
.pg-80{
  padding: 80px;
}
.mg-90{
  margin: 90px;
}
.pg-90{
  padding: 90px;
}
.mg-100{
  margin: 100px;
}
.pg-100{
  padding: 100px;
}

/*MARGE PAD TOP */
.mg-top-0{
  margin-top: 0;
}
.pg-top-0{
  padding-top: 0;
}
.mg-top-10{
  margin-top: 10px;
}
.pg-top-10{
  padding-top: 10px;
}
.mg-top-20{
  margin-top: 20px;
}
.pg-top-20{
  padding-top: 20px;
}
.mg-top-30{
  margin-top: 30px;
}
.pg-top-30{
  padding-top: 30px;
}
.mg-top-40{
  margin-top: 40px;
}
.pg-top-40{
  padding-top: 40px;
}
.mg-top-50{
  margin-top: 50px;
}
.pg-top-50{
  padding-top: 50px;
}
.mg-top-60{
  margin-top: 60px;
}
.pg-top-60{
  padding-top: 60px;
}
.mg-top-70{
  margin-top: 70px;
}
.pg-top-70{
  padding-top: 70px;
}
.mg-top-80{
  margin-top: 80px;
}
.pg-top-80{
  padding-top: 80px;
}
.mg-top-90{
  margin-top: 90px;
}
.pg-top-90{
  padding-top: 90px;
}
.mg-top-100{
  margin-top: 100px;
}
.pg-top-100{
  padding-top: 100px;
}


/*MARGE PAD BOTTOM */
.mg-bottom-0{
  margin-bottom: 0;
}
.pg-bottom-0{
  padding-bottom: 0;
}
.mg-bottom-10{
  margin-bottom: 10px;
}
.pg-bottom-10{
  padding-bottom: 10px;
}
.mg-bottom-20{
  margin-bottom: 20px;
}
.pg-bottom-20{
  padding-bottom: 20px;
}
.mg-bottom-30{
  margin-bottom: 30px;
}
.pg-bottom-30{
  padding-bottom: 30px;
}
.mg-bottom-40{
  margin-bottom: 40px;
}
.pg-bottom-40{
  padding-bottom: 40px;
}
.mg-bottom-50{
  margin-bottom: 50px;
}
.pg-bottom-50{
  padding-bottom: 50px;
}
.mg-bottom-60{
  margin-bottom: 60px;
}
.pg-bottom-60{
  padding-bottom: 60px;
}
.mg-bottom-70{
  margin-bottom: 70px;
}
.pg-bottom-70{
  padding-bottom: 70px;
}
.mg-bottom-80{
  margin-bottom: 80px;
}
.pg-bottom-80{
  padding-bottom: 80px;
}
.mg-bottom-90{
  margin-bottom: 90px;
}
.pg-bottom-90{
  padding-bottom: 90px;
}
.mg-bottom-100{
  margin-bottom: 100px;
}
.pg-bottom-100{
  padding-bottom: 100px;
}


/*MARGE PAD LEFT */
.mg-left-0{
  margin-left: 0;
}
.pg-left-0{
  padding-left: 0;
}
.mg-left-10{
  margin-left: 10px;
}
.pg-left-10{
  padding-left: 10px;
}
.mg-left-20{
  margin-left: 20px;
}
.pg-left-20{
  padding-left: 20px;
}
.mg-left-30{
  margin-left: 30px;
}
.pg-left-30{
  padding-left: 30px;
}
.mg-left-40{
  margin-left: 40px;
}
.pg-left-40{
  padding-left: 40px;
}
.mg-left-50{
  margin-left: 50px;
}
.pg-left-50{
  padding-left: 50px;
}
.mg-left-60{
  margin-left: 60px;
}
.pg-left-60{
  padding-left: 60px;
}
.mg-left-70{
  margin-left: 70px;
}
.pg-left-70{
  padding-left: 70px;
}
.mg-left-80{
  margin-left: 80px;
}
.pg-left-80{
  padding-left: 80px;
}
.mg-left-90{
  margin-left: 90px;
}
.pg-left-90{
  padding-left: 90px;
}
.mg-left-100{
  margin-left: 100px;
}
.pg-left-100{
  padding-left: 100px;
}


/*MARGE PAD RIGHT */
.mg-right-0{
  margin-right: 0;
}
.pg-right-0{
  padding-right: 0;
}
.mg-right-10{
  margin-right: 10px;
}
.pg-right-10{
  padding-right: 10px;
}
.mg-right-20{
  margin-right: 20px;
}
.pg-right-20{
  padding-right: 20px;
}
.mg-right-30{
  margin-right: 30px;
}
.pg-right-30{
  padding-right: 30px;
}
.mg-right-40{
  margin-right: 40px;
}
.pg-right-40{
  padding-right: 40px;
}
.mg-right-50{
  margin-right: 50px;
}
.pg-right-50{
  padding-right: 50px;
}
.mg-right-60{
  margin-right: 60px;
}
.pg-right-60{
  padding-right: 60px;
}
.mg-right-70{
  margin-right: 70px;
}
.pg-right-70{
  padding-right: 70px;
}
.mg-right-80{
  margin-right: 80px;
}
.pg-right-80{
  padding-right: 80px;
}
.mg-right-90{
  margin-right: 90px;
}
.pg-right-90{
  padding-right: 90px;
}
.mg-right-100{
  margin-right: 100px;
}
.pg-right-100{
  padding-right: 100px;
}















