{% extends 'base.html' %}
{% load static %}

{% block body %}
	{% block media %}
	{% endblock %}
	<div class="mx-auto" id="index">
	<!-- <section class="d-flex align-items-center px-3" style="height: 300px;background-color:#006666">
		<div class="col-6">
			<h1 style="color: #85BC3B" class="text-center san-francisco upper">A title is here to help</h1>
		</div>

		<div class="col-6">
			<p class="white f-20">
				Quisque velit nisi pretium ut lacinia in eleme ntum id enim nulla quis lorem ut libero malesuada feugiat mauris blandit aliquet elit eget tincidunt nibh pulvinar aed porttitor lectus nibh ellent esque ipsum orci porta dapibus nulla porttitor accumsan tincidunt.
			</p>
		</div>
	</section> -->

	<section class="d-flex align-items-center text-center px-3 py-3" style="height: 500px;">
		<div class="col">
			<br>
			<h1 style="color: #006666" class="animatable bounceInLeft text-center san-francisco upper bold">Our Mission</h1>
			<div class="col-3">
					
			</div>
			<p class="white f-20 mx-5 px-5" style="color: #006666">Spread the power of optimism to help kids overcome adversity and live a good a life.
			<br>
			The Gèrye Jwa vision is to dramatically improve the quality of care to our nation’s most vulnerable citizens so that children grow up feeling safe, loved, and joyful.
			</p>
			<a href="#" class="btn btn-outline-success" style="width: 150px;border-radius: 20px">Join</a>
		</div>
	</section>
	<section class="d-flex text-center px-3 py-3" style="height: 770;background-color:#006666">
		<div class="col">
			<br><br>
			<h1 style="color: #85BC3B" class="animatable bounceIn text-center san-francisco upper bold">Our APPROACH</h1>
			<br><br>
			
			<div class="row" style="">
				<div class="col-2"></div>
				<div class="col-4">
					<img src="https://demos.artbees.net/jupiter/callirrhoe/wp-content/uploads/sites/46/2015/12/woman.png">
				</div>
					
				<div class="col-6">
					<p class="white f-20" style="color: ;margin-top: 5%">
						Sed porttitor lectus nibh curabitur arcu erat accumsan id imperdiet etimo porttitor at sem estibulum ante ipsum primis in faucibus orci luctus etimo ultrices posuere cubilia curae donec velit neque, auctor sit amet aliquam vel ullam corper sit amet ligula praesent sapien massa convallis  pellentesque nec egestas non nisi.auctor sit amet aliquam vel ullam corper sit amet ligula praesent sapien massa convallis  pellentesque nec egestas non nisi.
						<br>
						Sed porttitor lectus nibh curabitur arcu erat accumsan id imperdiet etimo porttitor at sem estibulum ante ipsum primis in faucibus orci luctus etimo ultrices posuere cubilia curae donec velit neque, auctor sit amet aliquam vel ullam corper sit amet ligula praesent sapien massa convallis  pellentesque nec egestas non nisi.auctor sit amet aliquam vel ullam corper sit amet ligula praesent sapien massa convallis  pellentesque nec egestas non nisi.
					</p>
				</div>			
			</div>
			<br>
			<!-- <a href="#" class="btn btn-outline-success" style="width: 150px">Join</a> -->
		</div>
	</section>
	<section class="d-flex text-center align-items-center px-3 py-3" style="height:500px;">
		<div class="col">
			<h1 style="color:#006666" class="text-center san-francisco upper bold mb-4">Our Story</h1>
			<div class="row " style="text-align: left;color: #006666">
				<div class="col-10 offset-1 f-20 text-center">
					<p class="">
						The Playmaker movement started in the United States in 1989, under the name Project Joy, to heal and strengthen children - especially those whose lives have been deeply affected by trauma.
					</p>
					<p>
						Over time, the movement became Life Is Good Playmakers after it was embraced by the <a href="#">Life Is Good Kids Foundation (LIGKF)</a>, a Boston-based non-profit organization.
					</p>
				</div>
				
			</div>
			<br>
			<a href="{% url 'story' %}" class="btn btn-outline-success" style="width: 150px">Read More...</a>
		</div>
	</section>


	
</div>

{% endblock %}