{% extends 'base.html' %}
{% load static i18n %}

{% block body %}

{% block media %}
{% endblock %}

<div class="containe" style="min-height: 100vh" id="index">
	<form class="col-md-8 offset-2 mt-3 border p-4" style="background-color: #f0f8ff" action="" method="post">
		{% csrf_token %}
		<h4 class="upper bold">Gèrye Jwa Membership</h4><br>
		
		<div class="form-row form-group">
			<div class="col">
				<label>First Name <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.first_name.errors %}
					<i class="control-label">{{form.first_name.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.first_name}}
			</div>
			<div class="col">
				<label>Middle Name</label>
				<label class="label-error control-label">
				{% if form.middle_name.errors %}
					<i class="control-label">{{form.middle_name.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.middle_name}}
			</div>
			<div class="col">
				<label>Last Name <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.last_name.errors %}
					<i class="control-label">{{form.last_name.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.last_name}}
			</div>
		</div>		

		<div class="form-row form-group">
			<div class="col">
				<label>Address <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.address.errors %}
					<i class="control-label">{{form.address.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.address}}
			</div>
			<div class="col">
				<label>Street Address <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.street_address.errors %}
					<i class="control-label">{{form.street_address.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.street_address}}
			</div>

			<div class="col">
				<label>Address Line 2</label>
				<label class="label-error control-label">
				{% if form.address_line_2.errors %}
					<i class="control-label">{{form.address_line_2.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.address_line_2}}
			</div>
		</div>	
		<div class="form-row form-group">
			<div class="col">
				<label>City <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.city.errors %}
					<i class="control-label">{{form.city.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.city}}
			</div>
			<div class="col">
				<label>State / Province / Region <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.state.errors %}
					<i class="control-label">{{form.state.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.state}}
			</div>
			<div class="col">
				<label>ZIP / Postal Code <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.zip_code.errors %}
					<i class="control-label">{{form.zip_code.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.zip_code}}
			</div>
		</div>
		<div class="form-row form-group">
			<div class="col">
				<label>Country <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.country.errors %}
					<i class="control-label">{{form.country.errors.as_text}}</i>
				{%endif%}
				</label>
				<select class="form-control" name="country" id="id_country">
					{% include 'country.html' %}
				</select>
			</div>
			<div class="col">
				<label>Email <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.email.errors %}
					<i class="control-label">{{form.email.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.email}}
			</div>
			<div class="col">
				<label>Phone <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.phone.errors %}
					<i class="control-label">{{form.phone.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.phone}}
			</div>
		</div>
		
		<br>
		<div class="form-row form-group">
			<div class="col">
				<button type="submit" class="btn btn-success">Save</button>
			</div>
		</div>
	</form>
</div>

{% endblock %}

{% block script %}
	<script type="text/javascript">
		var kind = $('id_interests_-');
		if($(kind).prop("checked")){
			$("#cover-other").show();
			$("#cover-other input").focus();
		}else{
			$("#cover-other").hide();
		}

		$('#id_interests_-').on('click',function(){
			var kind = $(this);
			if($(kind).prop("checked")){
				$("#cover-other").show();
				$("#cover-other input").focus();
			}else{
				$("#cover-other").hide();
			}
		});
	</script>
{% endblock %}