{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}

	{% block css %}
		<style type="text/css">

.how-section1{
    margin-top:-15%;
    padding: 10%;
}
.how-section1 h4{
    color: #ffa500;
    font-weight: bold;
    font-size: 30px;
}
.how-section1 .subheading{
    color: #85BC3B;
    font-size: 20px;
}
.how-section1 .row
{
    margin-top: 10%;
}
.how-img 
{
    text-align: center;
}
.how-img img{
    width: 100%;
}




.video-testimonial-block { position: relative; width: auto; height: 206px; overflow: hidden; margin-bottom: 30px; }
.video-testimonial-block .video-thumbnail { height: 100%; width: 100%; position: absolute; z-index: 1; background-size: cover; top: 0; left: 0; }
.video-testimonial-block .video { }
.video-testimonial-block .video iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0px; }
.video-testimonial-block .video-play { position: absolute; z-index: 2; top: 50%; left: 50%; margin-left: -40px; margin-top: -18px; text-decoration: none; }
.video-testimonial-block .video-play::before { content: "\f144"; font: normal normal normal 14px/1; font-family: 'Font Awesome\ 5 Free'; font-weight: 900; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 50px; color: #b3b5bc; }
.video-testimonial-block .video-play:hover::before { color: #172651; }
.mb10{margin-bottom:10px;}
.section-title { margin-bottom: 40px; }


.pd-2{
    padding:2%;
}
.pd-r-2{
    padding-right:2%;
}
.pd-l-2{
    padding-left:2%;
}
.pd-t-2{
    padding-top:2%;
}
.pd-b-2{
    padding-bottom:2%;
}
.lead,div[data-toggle="collapse"]{
    font-family: '', sans-serif;
}
/*ul li{
    list-style:one;
}*/
div[data-toggle="collapse"]{
   border-bottom:1px solid #BBDEFB;
   width:100%;
   cursor:pointer;
   padding:1%;
}
.faq .collapse{
    background:#F5F5F5;
}
		</style>
	{% endblock %}

{% block media %}
{% endblock %}
	<div class="mx-auto" id="index">
	<!-- <section class="d-flex align-items-center px-3" style="height: 300px;background-color:#006666">
		<div class="col-6">
			<h1 style="color: #85BC3B" class="text-center san-francisco upper">A title is here to help</h1>
		</div>

		<div class="col-6">
			<p class="white f-20">
				Quisque velit nisi pretium ut lacinia in eleme ntum id enim nulla quis lorem ut libero malesuada feugiat mauris blandit aliquet elit eget tincidunt nibh pulvinar aed porttitor lectus nibh ellent esque ipsum orci porta dapibus nulla porttitor accumsan tincidunt.
			</p>
		</div>
	</section> -->
	<section>
        <div class="space-medium mt-3">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12 text-center">
                        <!-- section-title -->
                        <div class="section-title">
                            <h2>Voices from our community</h2>
                            <p>Quisque tempus justo molestie lacus blandit, eget molestie eros tristique. Nulla facilisi. Maecenas mollis ultricies faucibus.</p>
                        </div>
                    </div>
                    <!-- /.section-title -->
                </div>
                <div class="row">
                    <!-- video-testimonail -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="video-testimonial-block">
                           <!--  <div class="video-thumbnail"><img src="https://easetemplate.com/free-website-templates/finvisor/images/testi_img_1.jpg" alt="" class="img-fluid"></div> -->
                            <div class="video">
                                <iframe src="{% static 'videos/MVI_9936.MOV' %}" allowfullscreen>
                                </iframe>
                            </div>
                            <!-- <a href="#" class="video-play"></a> -->
                        </div>
                        <div class="video-testimonial-content">
                            <h4 class="mb10">Harlan M. Williams</h4>
                            <p>Student Loan</p>
                            <p>Quisque tempus justo molestie lacus blandit, eget molestie eros tristique. Nulla facilisi. Maecenas mollis ultricies faucibus.</p>
                        </div>
                    </div>
                    <!-- /.video-testimonail -->
                    <!-- video-testimonail -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="video-testimonial-block">
                           <!--  <div class="video-thumbnail"><img src="https://easetemplate.com/free-website-templates/finvisor/images/testi_img_2.jpg" alt="" class="img-fluid"></div> -->
                            <div class="video">
                                <iframe src="{% static 'videos/MVI_9946.MOV' %}" 
                                 allowfullscreen>
                                </iframe>
                            </div>
                            <!-- <a href="#" class="video-play"></a> -->
                        </div>
                        <div class="video-testimonial-content">
                            <h4 class="mb10">Alisha A. Delapaz</h4>
                            <p>Retirement Planning</p>
                            <p>Quisque tempus justo molestie lacus blandit, eget molestie eros tristique. Nulla facilisi. Maecenas mollis ultricies faucibus.</p>
                        </div>
                    </div>
                    <!-- /.video-testimonail -->
                    <!-- video-testimonail -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="video-testimonial-block">
                            <!-- <div class="video-thumbnail"><img src="https://easetemplate.com/free-website-templates/finvisor/images/testi_img_3.jpg" alt="" class="img-fluid"></div> -->
                            <div class="video">
                                <iframe src="{% static 'videos/MVI_9936.MOV' %}" allowfullscreen>
                                </iframe>
                            </div>
                            <!-- <a href="#" class="video-play"></a> -->
                        </div>
                        <div class="video-testimonial-content">
                            <h4 class="mb10">Rebecca L. Jenkins</h4>
                            <p>Term Insurance</p>
                            <p>Quisque tempus justo molestie lacus blandit, eget molestie eros tristique. Nulla facilisi. Maecenas mollis ultricies faucibus.</p>
                        </div>
                    </div>
                    <!-- /.video-testimonail -->
                </div>
               
            </div>
        </div>
	</section>
	
</div>

{% endblock %}