{% extends 'base.html' %}
{% load static i18n %}

{% block media %}{% endblock %}

{% block css %}{% endblock %}

{% block body %}
	<div class="mx-auto" id="index">
		<div class="h-100 container">
			
		
			<div class="row mt-4">
				<div class="col-md-8 offset-2">
					<h1 style="color: #006666" class="underline-title center">{% trans 'CONTACT US' %}</h1>
					<p><b>Address:</b> 5, rue Hérard Delmas 33, Port-au-Prince, Haïti. HT6120</p>
					<p><b>Tel.</b> +509-2811-4609.</p>
					<p><b>E-mail:</b> geryejwainfo@ligplaymakers.org</p>
					<p class="center">We welcome your questions.</p>
					<form action="" method="post" class="form-horizontal">
						{% csrf_token %}
						<div class="row form-group">

							<div class="col {% if form.name.errors %}has-error has-feedback{%endif%}">
								<label class='control-label' for="{{form.name.id_for_label}}">{% trans 'Name' %} <span class='red'>*</span> </label>
								<label class="label-error control-label">
									{% if form.name.errors %}
										<i class="control-label">{{form.name.errors.as_text}}</i>
									{%endif%}
								</label>
								<input type="text" class="form-control" name="">
							</div>
						</div>

						<div class="row form-group">

							<div class="col {% if form.email.errors %}has-error has-feedback{%endif%}">
								<label class='control-label' for="{{form.email.id_for_label}}">{% trans 'Email' %} <span class='red'>*</span> </label>
								<label class="label-error control-label">
									{% if form.email.errors %}
										<i class="control-label">{{form.email.errors.as_text}}</i>
									{%endif%}
								</label>
								<input type="text" class="form-control" name="">
							</div>
						</div>
						<div class="row form-group">

							<div class="col {% if form.content.errors %}has-error has-feedback{%endif%}">
								<label class='control-label' for="{{form.content.id_for_label}}">{% trans 'Your Message' %} <span class='red'>*</span> </label>
								<label class="label-error control-label">
									{% if form.content.errors %}
										<i class="control-label">{{form.content.errors.as_text}}</i>
									{%endif%}
								</label>
								<textarea class="form-control"></textarea>
							</div>
						</div>
						<div class="row form-group">
							<div class="col">
								<div class="g-recaptcha" data-sitekey="{{GOOGLE_RECAPTCHA_SITE_KEY}}"></div>
								
							</div>
						</div>
						<button type="submit" class="btn btn-outline-success" style="border-radius: 30px">{% trans 'Send Message' %}</button>
					</form>

				
				</div>
			</div>
		</div>
	</div>
{% endblock %}