{% extends 'base.html' %}
{% load static %}

{% block css %}
	<style type="text/css">
		.center {
		    display: block;
		    margin-left: auto;
		    margin-right: auto;
		    width: 50%;
		}
		.creditCardForm {
		    max-width: 700px;
		    background-color: #fff;
		    margin: 100px auto;
		    overflow: hidden;
		    padding: 25px;
		    color: #4c4e56;
		}
		.creditCardForm label {
		    width: 100%;
		    margin-bottom: 10px;
		}
		.creditCardForm .heading h1 {
		    text-align: center;
		    font-family: 'Open Sans', sans-serif;
		    color: #4c4e56;
		}
		.creditCardForm .payment {
		    float: left;
		    font-size: 18px;
		    padding: 10px 25px;
		    margin-top: 20px;
		    position: relative;
		}
		.creditCardForm .payment .form-group {
		    float: left;
		    margin-bottom: 15px;
		}
		.creditCardForm .payment .form-control {
		    line-height: 40px;
		    height: auto;
		    padding: 0 16px;
		}
		.creditCardForm .owner {
		    width: 63%;
		    margin-right: 10px;
		}
		.creditCardForm .fname {
		    width: 49%;
		   
		}
		.creditCardForm .lname {
		    width: 49%;
		   	margin-left: 10px;
		}
		.creditCardForm .CVV {
		    width: 35%;
		}
		.creditCardForm #card-number-field {
		    width: 100%;
		}
		.creditCardForm #expiration-date {
		    width: 49%;
		}
		.creditCardForm #credit_cards {
		    width: 50%;
		    margin-top: 25px;
		    text-align: right;
		}
		.creditCardForm #pay-now {
		    width: 100%;
		    margin-top: 25px;
		}
		.creditCardForm .payment .btn {
		    width: 100%;
		    margin-top: 3px;
		    font-size: 24px;
		    background-color: #2ec4a5;
		    color: white;
		}
		.creditCardForm .payment select {
		    padding: 10px;
		    margin-right: 15px;
		}
		.transparent {
		    opacity: 0.2;
		}
		@media(max-width: 650px) {
		    .creditCardForm .owner,
		    .creditCardForm .CVV,
		    .creditCardForm #expiration-date,
		    .creditCardForm #credit_cards {
		        width: 100%;
		    }
		    .creditCardForm #credit_cards {
		        text-align: left;
		    }
		}
	</style>
{% endblock %}

{% block media %}{% endblock %}


{% block body %}
<div class="mx-auto" id="index">
	<div class="d-flex align-items-center justify-content-center fitscreen" style="background: url('{% static 'images/ch2.png' %}');background-size: cover;position: relative;">
		<div class="overlay"></div>
		<h1 class="white san-francisco mx-4 text-center" style="z-index: 2">Your Gift Matters in Children's Lives <br><span style="font-size: 25px;font-family: arial;">Please donate to help us spread the power of optimism and help kids overcome adversity. Your donation has helped us train more than 2000 child care providers and touch over 30,000 children. You can write a check payable to GERYE JWA, or follow the instructions below to donate safely online.</span></h1>
	</div>
</div>
<div class="container" id="index">
	

	<section class="mt-4">
        <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12 text-center">
            <!-- section-title -->
            <div class="section-title">
                <p>Of course money is not the only way you can support! Therefore, for any other form of donation, <a href="{% url 'otherDonation' %}">click here.</a></p>
            </div>
        </div>
        
        <div class="text-center">
        	<img src="http://www.prepbootstrap.com/Content/images/shared/misc/creditcardicons.png" class="center">
        </div>

        <div class="col-md-12">
        	<div class="creditCardForm" style="margin-top: -1%">
			    <div class="heading">
			        <h2 class="text-center">Confirm Donation</h2>
			    </div>
			    <div class="payment">
			        <form>
			            <div class="form-group fname">
			                <label for="owner"> First Name</label>
			                <input type="text" class="form-control" id="owner">
			            </div>
			            <div class="form-group lname">
			                <label for="cvv">Last Name</label>
			                <input type="text" class="form-control" id="cvv">
			            </div>

			             <div class="form-group" id="card-number-field">
			                <label for="cardNumber">Email</label>
			                <input type="email" class="form-control" id="cardNumber">
			            </div>

			            <div class="form-group owner">
			                <label for="owner">Owner</label>
			                <input type="text" class="form-control" id="owner">
			            </div>
			            <div class="form-group CVV">
			                <label for="cvv">CVV</label>
			                <input type="text" class="form-control" id="cvv">
			            </div>
			            <div class="form-group" id="card-number-field">
			                <label for="cardNumber">Card Number</label>
			                <input type="text" class="form-control" id="cardNumber">
			            </div>
			            <div class="form-group" id="expiration-date">
			                <label>Expiration Date</label>
			                <select>
			                    <option value="01">January</option>
			                    <option value="02">February </option>
			                    <option value="03">March</option>
			                    <option value="04">April</option>
			                    <option value="05">May</option>
			                    <option value="06">June</option>
			                    <option value="07">July</option>
			                    <option value="08">August</option>
			                    <option value="09">September</option>
			                    <option value="10">October</option>
			                    <option value="11">November</option>
			                    <option value="12">December</option>
			                </select>
			                <select>
			                    <option value="16"> 2016</option>
			                    <option value="17"> 2017</option>
			                    <option value="18"> 2018</option>
			                    <option value="19"> 2019</option>
			                    <option value="20"> 2020</option>
			                    <option value="21"> 2021</option>
			                </select>
			            </div>
			            <div class="form-group" id="credit_cards">
			                <img src="assets/images/visa.jpg" id="visa">
			                <img src="assets/images/mastercard.jpg" id="mastercard">
			                <img src="assets/images/amex.jpg" id="amex">
			            </div>
			            <div class="form-group" id="pay-now">
			                <button type="submit" class="btn btn-default" id="confirm-purchase">Confirm</button>
			            </div>
			        </form>
			    </div>
			</div>
        </div>
	</section>

	
</div>
{% endblock %}