{% extends 'base.html' %}
{% load static %}

{% block media %}{% endblock %}

{% block body %}
<div class="wr-form text-center">
	

	<form class="form-signin left" action="" method="post">{% csrf_token %}
		
		<div class="form-row left">
			<section class="col">
				<div class="form-group {% if form.email.errors %} has-error {% endif %}">
					<label for="{{form.email.id_for_label}}" class="control-label">Email address <span class="red">*</span></label>
					{{form.email}}
					
		           	<div class="invalid-feedback">
		      			{{form.email.errors.as_text}}
		   			</div>
				</div>
			</section>
		</div>
		<p class="left">We'll you an email to get your account back</p>
		<button class="btn btn-success" type="submit"> Send</button><br>
		<p>I remember my account <a href="{% url 'signin' %}">Log in</a></p>
		
	</form>
</div>
<style type="text/css">


	div.wr-form {
	  display: -ms-flexbox;
	  display: flex;
	  -ms-flex-align: center;
	  align-items: center;
	  padding-top: 40px;
	  padding-bottom: 40px;
	  position: relative;
	  height: calc(100vh-100px);
	}

	.form-signin {
	  width: 100%;
	  max-width: 430px;
	  padding: 15px;
	  margin: auto;
	}
	.form-signin .checkbox {
	  font-weight: 400;
	}
	.form-signin .form-control {
	  position: relative;
	  box-sizing: border-box;
	  height: auto;
	  padding: 10px;
	  font-size: 16px;
	}
	.form-signin .form-control:focus {
	  z-index: 2;
	}
	.form-signin input[type="email"] {
	  margin-bottom: -1px;
	}
	.form-signin input[type="password"] {
	  margin-bottom: 10px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
</style>
{% endblock %}