{% extends 'base.html' %}
{% load static %}

{% block media %}{% endblock %}

{% block css %}{% endblock %}

{% block body %}
	<div class="mx-auto" id="index">
		<div class="h-100">
			<h1>Steps to become a gerye jwa</h1>
		</div>
	</div>
{% endblock %}