{% extends 'base.html' %}
{% load static %}

{% block media %}{% endblock %}

{% block css %}{% endblock %}

{% block body %}
	<style type="text/css">
		#gallery img.pic{
			transition: all 0.2s linear;
			cursor: pointer;
		}
		#gallery img.pic:hover{
			cursor: pointer;  
		}
	</style>
	<div class="modal fade" id="modal-edit-calc" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="z-index: 43423">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="header-pro-forma-title">Gallery</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img style="width: 100%" href="#modal-edit-calc" data-toggle='modal' class="pic" title="Staff taking photo with students" src="{% static 'img/1.JPG' %}" alt="">
							</div>
							<div class="carousel-item">
								<img style="width: 100%" href="#modal-edit-calc" data-toggle='modal' class="pic" title="X playing with children" src="{% static 'img/2.JPG' %}" alt="">
							</div>
							<div class="carousel-item">
								<img style="width: 100%" href="#modal-edit-calc" data-toggle='modal' class="pic" title="Staff taking photo with students" src="{% static 'img/1.JPG' %}" alt="">
							</div>
						</div>
						<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


	<div class="mx-auto" id="gallery">
		<div class="h-100">
			<div class="container">
				<div class="row mb-3">
					<div class="p-2 col-md-4 col-sm-6">
						<img href="#modal-edit-calc" data-toggle='modal' class="pic" title="Staff taking photo with students" height="250" src="{% static 'img/1.JPG' %}" alt="">
					</div>
					<div class="p-2 col-md-4 col-sm-6">
						<img href="#modal-edit-calc" data-toggle='modal' class="pic" title="X playing with children" height="250" src="{% static 'img/2.JPG' %}" alt="">
					</div>
					<div class="p-2 col-md-4 col-sm-6">
						<img href="#modal-edit-calc" data-toggle='modal' class="pic" title="Staff taking photo with students" height="250" src="{% static 'img/1.JPG' %}" alt="">
					</div>
					<div class="p-2 col-md-4 col-sm-6">
						<img href="#modal-edit-calc" data-toggle='modal' class="pic" title="X playing with children" height="250" src="{% static 'img/2.JPG' %}" alt="">
					</div>
					<div class="p-2 col-md-4 col-sm-6">
						<img href="#modal-edit-calc" data-toggle='modal' class="pic" title="Staff taking photo with students" height="250" src="{% static 'img/1.JPG' %}" alt="">
					</div>
					<div class="p-2 col-md-4 col-sm-6">
						<img href="#modal-edit-calc" data-toggle='modal' class="pic" title="X playing with children" height="250" src="{% static 'img/2.JPG' %}" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}