{% extends 'base.html' %}
{% load i18n %}

{% block body %}

<style type="text/css">
	#index section{
		margin-bottom: 20px;
	}
	.underline-title {
		color: #333;
		text-align: center;
		text-transform: uppercase;
		font-family: "Roboto", sans-serif;
		font-weight: bold;
		position: relative;
		margin: 30px 0 60px;
	}
	.underline-title::after {
		content: "";
		width: 100px;
		position: absolute;
		margin: 0 auto;
		height: 3px;
		background: #8fbc54;
		left: 0;
		right: 0;
		bottom: -10px;
	}
	.col-center {
		margin: 0 auto;
		float: none !important;
	}
	.carousel {
		margin: 50px auto;
		padding: 0 70px;
	}
	.carousel .item {
		color: #999;
		font-size: 14px;
	    text-align: center;
		overflow: hidden;
	    min-height: 290px;
	}
	.carousel .item .img-box {
		width: 135px;
		height: 135px;
		margin: 0 auto;
		padding: 5px;
		border: 1px solid #ddd;
		border-radius: 50%;
	}
	.carousel .img-box img {
		width: 100%;
		height: 100%;
		display: block;
		border-radius: 50%;
	}
	.carousel .testimonial {
		padding: 30px 0 10px;
	}
	.carousel .overview {	
		font-style: italic;
	}
	.carousel .overview b {
		text-transform: uppercase;
		color: #7AA641;
	}
	.carousel .carousel-control {
		width: 40px;
	    height: 40px;
	    margin-top: -20px;
	    top: 50%;
		background: none;
	}
	.carousel-control i {
	    font-size: 68px;
		line-height: 42px;
	    position: absolute;
	    display: inline-block;
		color: rgba(0, 0, 0, 0.8);
	    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
	}
	.carousel .carousel-indicators {
		bottom: -40px;
	}
	.carousel-indicators li, .carousel-indicators li.active {
		width: 10px;
		height: 10px;
		margin: 1px 3px;
		border-radius: 50%;
	}
	.carousel-indicators li {	
		background: #999;
		border-color: transparent;
		box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
	}
	.carousel-indicators li.active {	
		background: #555;		
		box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
	}

	#statistic .shape{
		box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
	}
</style>
<div class="mx-auto" id="index" style="background-color: #fff;margin-bottom: -20px">
	
	<div class="wrapper hidden">
    
		    <div class="block animatable bounceIn">bounceIn</div>
		    <div class="block animatable bounceInLeft">bounceInLeft</div>
		    <div class="block animatable bounceInRight">bounceInRight</div>
		    
		    <div class="block animatable fadeIn">fadeIn</div>
		    <div class="block animatable fadeInDown">fadeInDown</div>
		    <div class="block animatable fadeInUp">fadeInUp</div>
		    
		    <div class="block animatable moveUp">moveUp</div>
		    
		    <div class="block animatable fadeBgColor">fadeBgColor</div>
		    
		    
		    
		    
		    <div class="block animatable bounceIn">bounceIn</div>
		    <div class="block animatable bounceInLeft">bounceInLeft</div>
		    <div class="block animatable bounceInRight">bounceInRight</div>
		    
		    <div class="block animatable fadeIn">fadeIn</div>
		    <div class="block animatable fadeInDown">fadeInDown</div>
		    <div class="block animatable fadeInUp">fadeInUp</div>
		    
		    <div class="block animatable moveUp">moveUp</div>
		    
		    <div class="block animatable fadeBgColor">fadeBgColor</div>
		    
		    
		    
		    
		    <div class="block animatable bounceIn">bounceIn</div>
		    <div class="block animatable bounceInLeft">bounceInLeft</div>
		    <div class="block animatable bounceInRight">bounceInRight</div>
		    
		    <div class="block animatable fadeIn">fadeIn</div>
		    <div class="block animatable fadeInDown">fadeInDown</div>
		    <div class="block animatable fadeInUp">fadeInUp</div>
		    
		    <div class="block animatable moveUp">moveUp</div>
		    
		    <div class="block animatable fadeBgColor">fadeBgColor</div>
		    
		    
		    
		    
		    <div class="block animatable bounceIn">bounceIn</div>
		    <div class="block animatable bounceInLeft">bounceInLeft</div>
		    <div class="block animatable bounceInRight">bounceInRight</div>
		    
		    <div class="block animatable fadeIn">fadeIn</div>
		    <div class="block animatable fadeInDown">fadeInDown</div>
		    <div class="block animatable fadeInUp">fadeInUp</div>
		    
		    <div class="block animatable moveUp">moveUp</div>
		    
		    <div class="block animatable fadeBgColor">fadeBgColor</div>
		    
		    
		    
		    
		    <div class="block animatable bounceIn">bounceIn</div>
		    <div class="block animatable bounceInLeft">bounceInLeft</div>
		    <div class="block animatable bounceInRight">bounceInRight</div>
		    
		    <div class="block animatable fadeIn">fadeIn</div>
		    <div class="block animatable fadeInDown">fadeInDown</div>
		    <div class="block animatable fadeInUp">fadeInUp</div>
		    
		    <div class="block animatable moveUp">moveUp</div>
		    
		    <div class="block animatable fadeBgColor">fadeBgColor</div>
		    
		    
		    
		    
		    <div class="block animatable bounceIn">bounceIn</div>
		    <div class="block animatable bounceInLeft">bounceInLeft</div>
		    <div class="block animatable bounceInRight">bounceInRight</div>
		    
		    <div class="block animatable fadeIn">fadeIn</div>
		    <div class="block animatable fadeInDown">fadeInDown</div>
		    <div class="block animatable fadeInUp">fadeInUp</div>
		    
		    <div class="block animatable moveUp">moveUp</div>
		    
		    <div class="block animatable fadeBgColor">fadeBgColor</div>
		    
	</div>
	<section class="d-flex align-items-center px-3" style="height: 300px">
		<div class="col-6">
			<h1 style="color: #85BC3B" class="san-francisco upper animatable bounceInLeft">Help kids overcome adversity and live a good a life.</h1>
		</div>

		<div class="col-6">
			<p class="f-20" style="color: #006666">
				Do you work with children from 3 to 12 years old? Do many of those children suffer from the effects of trauma from violence, poverty, or illness? We provide training and support to frontline heroes like you who are dedicated to caring for Haiti’s most vulnerable children. <a href="{% url 'community' %}" class="btn btn-xs btn-secondary"><i class="fa fa-file"></i> Testimoniasl</a>
			</p>
		</div>
	</section>

	

	<style type="text/css">
		#statistic .counter:hover{
			-webkit-transition: all 0.3s ease; /* Safari and Chrome */
		    -moz-transition: all 0.3s ease; /* Firefox */
		    -o-transition: all 0.3s ease; /* IE 9 */
		    -ms-transition: all 0.3s ease; /* Opera */
		    transition: all 0.3s ease;
		}
		#statistic .counter:hover{
			background-color: white;
			color: #006666;
			cursor: pointer;
		}
	</style>
	<section id="statistic" class="d-flex text-center white px-3 py-3 align-items-center" style="height: calc(100vh);background-color:#006666">
		<div class="col">
			<h1 style="color: #85BC3B" class="underline-title animatable bounceIn">Statistic</h1>
			<div class="container">
				<div class="row align-items-center">
				   	<div class="col f-20 text-center">
						<p>The Gèrye Jwa vision is to dramatically improve the quality of care to our nation’s most vulnerable citizens so that children grow up feeling safe, loved, and joyful</p>
					</div>
				</div>
				<div class="row text-center align-items-center" style="margin-top: 80px">
					<div class="col">
						<div class="counter path-next shape" data-href="{% url 'map' %}" style="height: 200px;width: 200px;border:solid 1px #fff;border-radius: 50%;padding-top: 30px">
							<i class="fa fa-map-marker fa-3x"></i>
							<h1 class="san-francisco countable">23</h1>
							<h2 class="timer count-title count-number" data-to="100" data-speed="1500"></h2>
							<p class="count-text bold">Zones</p>
						</div>
					</div>
					<div class="col">
						<div class="counter path-next shape" data-href="{% url 'partners' %}" style="height: 200px;width: 200px;border:solid 1px #fff;border-radius: 50%;padding-top: 30px">
							<i class="fa fa-building fa-3x"></i>
							<h1 class="san-francisco countable">212</h1>
							<h2 class="timer count-title count-number" data-to="100" data-speed="1500"></h2>
							<p class="count-text bold">Instutiton</p>
						</div>
					</div>
					
					<div class="col">
						<div class="counter path-next shape" data-href="{% url 'community' %}" style="height: 200px;width: 200px;border:solid 1px #fff;border-radius: 50%;padding-top: 30px">
							<i class="fa fa-male fa-3x"></i>
							<h1 class="san-francisco countable">1836</h1>
							<h2 class="timer count-title count-number" data-to="100" data-speed="1500"></h2>
							<p class="count-text bold">Geryejwa</p>
						</div>
					</div>
					<div class="col">
						<div class="counter path-next shape" data-href="{% url 'galleryChildren' %}" style="height: 200px;width: 200px;border:solid 1px #fff;border-radius: 50%;padding-top: 30px">
							<i class="fa fa-users fa-3x"></i>
							<h1 class="san-francisco countable">35212</h1>
							<h2 class="timer count-title count-number" data-to="100" data-speed="1500"></h2>
							<p class="count-text bold">Children</p>
						</div>
					</div>
			    </div>
			</div>
		</div>
	</section>

	<section id="become-playmaker" class="d-flex text-center px-3 py-3" style="height: 300px;">
		<div class="col">
			<h1 style="color: #006666" class="underline-title animatable bounceIn">{% trans 'Become a geryejwa' %}</h1>
			<p class="white f-20 mx-5 px-5" style="color: #006666">
				{% blocktrans %}GERYE JWA/Life is good Playmakers Ayiti invites you to learn how the power of optimism and playful relationship can heal and strengthen the children in your care.{% endblocktrans %}
			</p>
			<br>
			<a href="{% url 'becomeGeryeJwa' %}" class="btn btn-outline-success" style="width: 150px;border-radius: 30px">{% trans 'Join' %}</a>
		</div>
	</section>

	<section id="testimonial" style="">
		<div class="d-flex h-100 align-items-center">
			<div class="col-center m-auto px-3">
				<h1 class="underline-title animatable bounceIn" style="color: #85BC3B;margin-bottom: 80px">Testimonials</h1>
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
					<!-- Carousel indicators -->
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
					</ol>   
					<!-- Wrapper for carousel items -->
					<div class="carousel-inner">
						<div class="item carousel-item active">
							<p class="testimonial f-20 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet.</p>
							<div class="img-box mb-3"><img src="/examples/images/clients/1.jpg" alt=""></div>
							<p class="overview"><b>Paula Wilson</b>, Media Analyst</p>
						</div>
						<div class="item carousel-item">
							<p class="testimonial f-20 ">Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget nisi a mi suscipit tincidunt. Utmtc tempus dictum risus. Pellentesque viverra sagittis quam at mattis. Suspendisse potenti. Aliquam sit amet gravida nibh, facilisis gravida odio.</p>
							<div class="img-box mb-3"><img src="/examples/images/clients/2.jpg" alt=""></div>
							<p class="overview"><b>Antonio Moreno</b>, Web Developer</p>
						</div>
						<div class="item carousel-item">
							
							<p class="testimonial f-20 ">Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id lacinia. Etiam faucibus mauris id tempor egestas. Duis luctus turpis at accumsan tincidunt. Phasellus risus risus, volutpat vel tellus ac, tincidunt fringilla massa. Etiam hendrerit dolor eget rutrum.</p>
							<div class="img-box mb-3"><img src="/examples/images/clients/3.jpg" alt=""></div>
							<p class="overview"><b>Michael Holz</b>, Seo Analyst</p>
						</div>
					</div>
					<!-- Carousel controls -->
					<a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>
			</div>
		</div>
	</section>

	<section id="gallery" class="d-flex align-items-center justify-content-center" style="height: 500px;">
		<div class="albums" style="width: 96%">
		  	<div class="mx-1"><img src="https://static.wixstatic.com/media/d059e2_544d560d3ca79216e03237a95c01ea6b.png/v1/fill/w_320,h_230,al_c/d059e2_544d560d3ca79216e03237a95c01ea6b.png"></div>
		  	<div class="mx-1"><img src="https://static.wixstatic.com/media/d059e2_29c5a40b891147db2a57d2ee7c70da5a.png/v1/fill/w_320,h_230,al_c/d059e2_29c5a40b891147db2a57d2ee7c70da5a.png"></div>
		  	<div class="mx-1"><img src="https://static.wixstatic.com/media/d059e2_b7768721b86770c0e9625c7fcf401c67.png/v1/fill/w_320,h_230,al_c/d059e2_b7768721b86770c0e9625c7fcf401c67.png"></div>
		  	<div class="mx-1"><img src="https://static.wixstatic.com/media/d059e2_544d560d3ca79216e03237a95c01ea6b.png/v1/fill/w_320,h_230,al_c/d059e2_544d560d3ca79216e03237a95c01ea6b.png"></div>
		  	<div class="mx-1"><img src="https://static.wixstatic.com/media/d059e2_29c5a40b891147db2a57d2ee7c70da5a.png/v1/fill/w_320,h_230,al_c/d059e2_29c5a40b891147db2a57d2ee7c70da5a.png"></div>
		  	<div class="mx-1"><img src="https://static.wixstatic.com/media/d059e2_b7768721b86770c0e9625c7fcf401c67.png/v1/fill/w_320,h_230,al_c/d059e2_b7768721b86770c0e9625c7fcf401c67.png"></div>
		</div>
	</section>
</div>

{% endblock %}

{% block script %}

{% endblock %}