{% extends 'base.html' %}


{% block media %}{% endblock %}
{% block body %}
	<div class="mx-auto h-100">
		<div id="map"></div>
	</div>
{% endblock %}

{% block script %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrNmvNmIKkyOuUCZmxV5RirtYUh3P712w&callback=initMap&hl=fr"></script>
<script>
	function initMap() {
		var uluru = {lat: -25.363, lng: 131.044};
		
		var map = new google.maps.Map(
				document.getElementById('map'),{
				zoom: 1,
				center: uluru
			});
		var marker = new google.maps.Marker({
			position:uluru,
			map: map
		});

		$.getJSON('?data=json', function(data) {
		  	for(var i = 0 ; i < data.length ; i ++ ){
				var marker = new google.maps.Marker({
					position: new google.maps.LatLng(data[i]['lat'],data[i]['lng']),
					map: map,
					name: data[i]['city'],
				});
			}
		});
		
	}
</script>
{% endblock %}