{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}

	{% block css %}
		<style type="text/css">

		</style>
	{% endblock %}

{% block media %}
{% endblock %}
	<div class="mx-auto" id="index">
		<div class="h-100 container">
			<div class="row mt-5">
       			<div class="offset-xl-2 col-xl-8 col-md-12 col-sm-12 col-12 text-center">
				<p>As an organization, we encourage people to volunteer since we believe that volunteering has a greater impact on society as a whole and help volunteers develop social connection, build community with others, and immerse themselves in a pool of opportunities. If you have time to give and the commitment to spread the power of optimism to help kids overcome adversity, we are keen to welcome you among our team. To volunteer with GÈRYE JWA/Life Is Good Playmakers Ayiti, please complete our <a href="{% url 'volunteer' %}">volunteer form</a> and we will get back to you in a few days.</p>

				<a class="btn btn-outline-success" style="border-radius: 30px" href="{% url 'becomeGeryeJwa' %}">Become a Gerye Jwa</a>
				<a class="btn btn-outline-success" style="border-radius: 30px" href="{% url 'program' %}#calendar">Training calendar</a>
				</div>
			</div>

			<div class="row mt-5">
       			<div class="offset-xl-2 col-xl-8 col-md-12 col-sm-12 col-12 text-center">
       				<h3>Sart a fundraiser</h3>
					<p> You can do whatever you are passionate about to help us further our mission and help kids and care givers in Haiti. Put your creativity in work and follow the simple steps indicated here (we should have a link that explains how to do a fundraiser) to start a fundraiser in support of GERYE JWA/Life is Good Playmakers Ayiti. You may also just do a <a href="{% url 'donate' %}">direct donation.</a></p>

					
				</div>
			</div>
		</div>
	</div>

{% endblock %}