{% extends 'base.html' %}
{% load static %}

{% block media %}{% endblock %}

{% block css %}{% endblock %}

{% block body %}
	<style type="text/css">
		#map {
   			width: 100%;
   			height: 400px;
   			background-color: grey;
 		}

	</style>
	<div class="mx-auto" id="index">
		<div class="h-100 d-flex align-items-center justify-content-center text-center">
			<div style='overflow:hidden;height:400px;width:1120px;'><div id='gmap_canvas' style='height:400px;width:1120px;'></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div> <a href='https://www.embedmap.net/'>google maps on my website</a> 
		</div>
	</div>
{% endblock %}

{% block script %}
	<script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key= AIzaSyCHJPqaaQSEgsK6kaneqB29LZJsJz5NrZI'></script>
	<script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=c67b516f8fe246288ff60020c93325c1f23a301c'></script>

	<script type='text/javascript'>
		positions = {
			'Carrefour':{'lat':18.52959, "lng":-72.40806},
			'Delmas':{'lat':18.5441492,'lng':-72.3078648},
			'Petion-ville':{'lat':18.5128958, "lng":-72.2939949},
			'Grand-goave':{'lat':18.4253844,"lng":-72.780068},
			'Verrettes':{'lat':19.0479199,"lng":-72.4766477},
			'Tomonde':{'lat':19.0168647,"lng":-71.9684637},
			'Port-au-Prince':{'lat':18.5790241,"lng":-72.3546726},
			'Gros-morne':{'lat':18.586719,"lng":-72.4852324},
			'Kenskoff':{'lat':18.4514032,"lng":-72.2932702},
			'Croix-des-bouquets':{'lat':18.578848,"lng":-72.2484593},
		}

		function init_map(){
			var myOptions = {
				zoom:12,
				center:new google.maps.LatLng(18.5392,-72.33499999999998),
				mapTypeId: google.maps.MapTypeId.ROADMAP
			};
			map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);

			marker = new google.maps.Marker({
				map: map,
				position: new google.maps.LatLng(18.5392,-72.33499999999998)
			});

			infowindow = new google.maps.InfoWindow({
				content:'<strong></strong><br><br> Canape vert (500 people)<br>'
			});

			google.maps.event.addListener(marker, 'click', function(){
				infowindow.open(map,marker);
			});

			infowindow.open(map,marker);
		}

		google.maps.event.addDomListener(window, 'load', init_map);
	</script>
{% endblock %}