{% extends 'base.html' %}
{% load static i18n %}

{% block body %}

{% block media %}
{% endblock %}

<div class="containe" style="min-height: 100vh" id="index">
	<form class="col-md-8 offset-2 mt-3 border p-4" style="background-color: #f0f8ff" action="" method="post">
		{% csrf_token %}
		<h4 class="upper bold">Other form of donation</h4><br>
		
		<div class="form-row form-group">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>		

		<br>
		<div class="form-row form-group">
			<div class="col">
				<a href="{% url 'donate' %}" class="btn btn-success">Ok, I understand</a>
			</div>
		</div>
	</form>
</div>

{% endblock %}

{% block script %}
	<script type="text/javascript">
		var kind = $('id_interests_-');
		if($(kind).prop("checked")){
			$("#cover-other").show();
			$("#cover-other input").focus();
		}else{
			$("#cover-other").hide();
		}

		$('#id_interests_-').on('click',function(){
			var kind = $(this);
			if($(kind).prop("checked")){
				$("#cover-other").show();
				$("#cover-other input").focus();
			}else{
				$("#cover-other").hide();
			}
		});
	</script>
{% endblock %}