{% extends 'base.html' %}
{% load static i18n %}

{% block body %}

{% block media %}
{% endblock %}

<div class="containe" style="min-height: 100vh" id="index">
	<form class="col-md-8 offset-2 mt-3 border p-4" style="background-color: #f0f8ff" action="" method="post">
		{% csrf_token %}
		<h4 class="upper">Organization Form</h4>
		<p class="italic">Gèrye Jwa is open to new partnerships and is willing to come to you organization to help you create optimal environment, for the kids you serve and for your staff, if you invite us. Please take a few minutes to fill out this form and we will get back to you in a couple days.</p>
		<div class="form-row form-group">
			<div class="col">
				<label>Organization name <span class="red">*</span></label>
				{{form.name}}
			</div>
		</div>
		<div class="form-row form-group">
			<div class="col">
				<label>Mission of the organization <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.mission.errors %}
					<i class="control-label">{{form.mission.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.mission}}
			</div>
		</div>	
		<div class="form-row form-group">
			<div class="col-4">
				<label>Type of organization <span class="red">*</span></label><br>
				<label class="label-error control-label">
				{% if form.kind.errors %}
					<i class="control-label">{{form.kind.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.kind}}
			</div>
			<div class="col-4">
				<label>Other Type of organization <span class="red">*</span></label><br>
				<label class="label-error control-label">
				{% if form.other_kind.errors %}
					<i class="control-label">{{form.other_kind.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.other_kind}}
			</div>
		</div>		

		<div class="form-row form-group">
			<div class="col">
				<label>Address <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.address.errors %}
					<i class="control-label">{{form.address.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.address}}
			</div>
			<div class="col">
				<label>Street Address <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.street_address.errors %}
					<i class="control-label">{{form.street_address.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.street_address}}
			</div>

			<div class="col">
				<label>Address Line 2</label>
				<label class="label-error control-label">
				{% if form.address_line_2.errors %}
					<i class="control-label">{{form.address_line_2.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.address_line_2}}
			</div>
		</div>	
		<div class="form-row form-group">
			<div class="col">
				<label>City <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.city.errors %}
					<i class="control-label">{{form.city.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.city}}
			</div>
			<div class="col">
				<label>State / Province / Region <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.state.errors %}
					<i class="control-label">{{form.state.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.state}}
			</div>
			<div class="col">
				<label>ZIP / Postal Code <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.zip_code.errors %}
					<i class="control-label">{{form.zip_code.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.zip_code}}
			</div>
			<div class="w-100"></div>
			<div class="col-4 mt-2">
				<label>Country <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.country.errors %}
					<i class="control-label">{{form.country.errors.as_text}}</i>
				{%endif%}
				</label>
				<select class="form-control" name="country" id="id_country">
					{% include 'country.html' %}
				</select>
			</div>
		</div>
		<hr>
		<h5 class="bold">Personal Information</h5>
		<div class="form-row form-group">
			<div class="col">
				<label>First Name <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.first_name.errors %}
					<i class="control-label">{{form.first_name.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.first_name}}
			</div>
			<div class="col">
				<label>Middle Name</label>
				<label class="label-error control-label">
				{% if form.middle_name.errors %}
					<i class="control-label">{{form.middle_name.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.middle_name}}
			</div>
			<div class="col">
				<label>Last Name <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.last_name.errors %}
					<i class="control-label">{{form.last_name.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.last_name}}
			</div>
		</div>	
		<div class="form-row form-group">
			<div class="col-6">
				<label>Position <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.position.errors %}
					<i class="control-label">{{form.position.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.position}}
			</div>
		</div>
		<div class="form-row form-group">
			<div class="col">
				<label>Email <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.email.errors %}
					<i class="control-label">{{form.email.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.email}}
			</div>
			<div class="col">
				<label>Phone <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.phone.errors %}
					<i class="control-label">{{form.phone.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.phone}}
			</div>
		</div>	
		<div class="form-row form-group">
			<div class="col">
				<label>How did you learn about Gèrye Jwa? <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.hear_about.errors %}
					<i class="control-label">{{form.hear_about.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.hear_about}}
			</div>
		</div>
		<div class="form-row form-group">
			<div class="col">
				<label>How do you think Gerye Jwa can support your organization? <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.support.errors %}
					<i class="control-label">{{form.support.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.support}}
			</div>
		</div>	
		<div class="form-row form-group">
			<div class="col">
				<label>Any other information we should know?</label>
				<label class="label-error control-label">
				{% if form.more_info.errors %}
					<i class="control-label">{{form.more_info.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.more_info}}
			</div>
		</div>	
		<div class="form-row form-group">
			<div class="col">
				<button type="submit" class="btn btn-success">Save</button>
			</div>
		</div>
	</form>
</div>

{% endblock %}

{% block script %}
	<script type="text/javascript">
		var kind = $('#id_kind').val();
		if(kind == '-'){
			$("#id_other_kind").closest("div").show();
		}else{
			$("#id_other_kind").closest("div").hide();
		}

		$('#id_kind').on('change',function(){
			var kind = $(this).val();
			if(kind == '-'){
				$("#id_other_kind").closest("div").show();
				$("#id_other_kind").focus();
			}else{
				$("#id_other_kind").closest("div").hide();
			}
		});
	</script>
{% endblock %}