{% extends 'base.html' %}
{% load static i18n %}

{% block body %}

{% block media %}
{% endblock %}

<div class="mx-auto" id="index">
	<style type="text/css">
		.underline-title {
			color: #333;
			text-align: center;
			text-transform: uppercase;
			font-family: "Roboto", sans-serif;
			font-weight: bold;
			position: relative;
			margin: 30px 0 60px;
		}
		.underline-title::after {
			content: "";
			width: 100px;
			position: absolute;
			margin: 0 auto;
			height: 3px;
			background: #8fbc54;
			left: 0;
			right: 0;
			bottom: -10px;
		}
	</style>
	<div class="d-flex align-items-center justify-content-center fitscreen" style="background: url('{% static 'img/bg.jpg' %}');background-size: cover;position: relative;">
		<div class="overlay"></div>
		<h1 class="  white san-francisco" style="z-index: 2">If you want to go fast, go alone. If you want to go far, go together</h1>
	</div>
	<section class="d-flex text-center px-3 py-3 mt-4" style="margin-bottom:120px">
		<div class="col">
			<h1 style="color: #85BC3B" class="underline-title">Our partners</h1>
			<div class="row">
				<div class="col-8 offset-2">
				<h4 class="text-center text-success f-17">
					In order to carry our mission as far as possible and make a real difference in the Haiti children's life, we nurture strong partnerships with other organizations in various way. You can <a href="{% url 'partnerForm' %}">bring us to your organization</a>.
				</h4>
				</div>
			</div>
			
			<div class="row mt-5" style="">
				{% for p in all_partners %}
				<div class="col-md-3 col-sm-4 col-xs-6">
					<img src="{{p.logo.url}}" height="90"><br>
					<a href="{{p.link}}" target="_blank" class="text-secondary">{{p.name}}</a>
				</div>
				{% if forloop.counter == 4 %}
				<div class="w-100 my-4"></div>
				{% endif %}
				{% endfor %}
			</div>
			<br>
			<!-- <a href="#" class="btn btn-outline-success" style="width: 150px">Join</a> -->
		</div>
	</section>
</div>

{% endblock %}