{% extends 'base.html' %}
{% load static i18n %}

{% block css %}
    <style type="text/css">

        .how-section1{
            margin-top:-15%;
            padding: 10%;
        }
        .how-section1 h4{
            color: #ffa500;
            font-weight: bold;
            font-size: 30px;
        }
        .how-section1 .subheading{
            color: #85BC3B;
            font-size: 20px;
        }
        .how-section1 .row
        {
            margin-top: 10%;
        }
        .how-img 
        {
            text-align: center;
        }
        .how-img img{
            width: 100%;
        }

        .video-testimonial-block { position: relative; width: auto; height: 206px; overflow: hidden; margin-bottom: 30px; }
        .video-testimonial-block .video-thumbnail { height: 100%; width: 100%; position: absolute; z-index: 1; background-size: cover; top: 0; left: 0; }
        .video-testimonial-block .video { }
        .video-testimonial-block .video iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0px; }
        .video-testimonial-block .video-play { position: absolute; z-index: 2; top: 50%; left: 50%; margin-left: -40px; margin-top: -18px; text-decoration: none; }
        .video-testimonial-block .video-play::before { content: "\f144"; font: normal normal normal 14px/1; font-family: 'Font Awesome\ 5 Free'; font-weight: 900; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 50px; color: #b3b5bc; }
        .video-testimonial-block .video-play:hover::before { color: #172651; }
        .mb10{margin-bottom:10px;}
        .section-title { margin-bottom: 40px; }


        .pd-2{
            padding:2%;
        }
        .pd-r-2{
            padding-right:2%;
        }
        .pd-l-2{
            padding-left:2%;
        }
        .pd-t-2{
            padding-top:2%;
        }
        .pd-b-2{
            padding-bottom:2%;
        }
        .lead,div[data-toggle="collapse"]{
            font-family: '', sans-serif;
        }
        /*ul li{
            list-style:one;
        }*/
        div[data-toggle="collapse"]{
           border-bottom:1px solid #BBDEFB;
           width:100%;
           cursor:pointer;
           padding:1%;
        }
        .faq .collapse{
            background:#F5F5F5;
        }
    </style>
{% endblock %}

{% block media %}
{% endblock %}

{% block body %}
<div class="mx-auto">
    <div class="container">
        <section id="what-we-do">
            <div class="row align-items-center justify-content-center" style="height: 100vh">
                <div class="col-12 text-center">
                    <h1 style="color: #006666" class="animatable bounceIn text-center san-francisco upper bold">What We Do</h1>

                    <p class="f-20">
                        Gèrye Jwa provides comprehensive personal and professional development resources (a comprehensive package of psychosocial programming including training, material resources and field support) to frontline childcare professionals who work with our nation’s poorest and most vulnerable children. We help the care givers - that we call Playmakers- create optimal environments in which kids feel loved, joyful and safe to grow and learn. These Playmakers use the power of optimism and playful engagement to build healing, life-changing relationships with the children in their care.
                    </p>
                </div>
            </div>
        </section>

        <section id="why-we-do-it" class="bg-light">
            <div class="row align-items-center justify-content-center" style="height: 100vh">
                <div class="col-12 text-center">
                    <h1 style="color: #006666" class="text-center san-francisco upper bold">Why We Do It</h1>
                    <br>
                    <div class="">
                        <video style="width: 45%" src="https://storage.googleapis.com/kapwing/final_5c1123fb32086800136a12e4.mp4"></video>
                    </div>
                </div>
            </div>
        </section>

        <section id="our-trainings">
            <div class="row align-items-center justify-content-center" style="min-height: 100vh;margin-top: 50px">
                <div class="col-12">
                    <h1 style="color: #006666" class="animatable bounceIn text-center san-francisco upper bold">Our training</h1>
                    <h4 class="center">GERYE JWA/Life is good Playmakers Ayiti invites you to learn how the power of optimism and playful relationship can heal and strengthen the children in your care.</h4>
                    <p class="text-left mt-4">
                        <img src="{% static 'images/s.png' %}" class="float-left mr-5" style="width: 45%" alt=""/>

                        It all starts with the Playmaker 101: Foundations of Playmaking. This 1-day retreat is for all staff to gain a deep understanding of the impact of early childhood trauma on development and of the power of optimism and playful engagement to help children recover from traumatic experiences. Through lively discussion, varied activities, and joyful play experiences, participants explore the healing power of play. We also help them reconnect with their playful self so they can bring greater levels of energy and joy back to their care giving environments. In this one-day session participants are able to:
                        <ul class="text-left">
                            <li>understand the core Playmaker philosophy and beliefs;</li>
                            <li>deepen their understanding of the impact of trauma on children's psychosocial health, behavior and development;</li>
                            <li>experience the power of playful engagement and feel the vibe;</li>
                            <li>identify the daily behaviors that can help build a more joyful, connected and empowering environment for themselves, their colleagues, and the children in their care.</li>
                        </ul>
                        Those who complete the Playmaker 101 are invited/can choose to participate in the Playmaker 202 retreat- Practice of Playmaking. This 2-day retreat is specifically designed to help Playmakers deepen their understanding of trauma-informed, playful engagement and gain a wealth of developmentally and situationally appropriate tools, techniques and activities for their classroom/work environment. Play equipment for the classroom is included as a resource. Personal development and care is explored through a delicate balance of presentations, experiential activities and group discussions. Each participant leaves with a “personal playfulness plan” designed to support their self-care and wellness.

                        <br><br>After the 202, Playmakers are offered advanced training opportunities in areas that can support their playmaker work, their personal and professional development.

                        <br><br>Gèrye Jwa/Life Is Good Playmakers Ayiti believes that the trainings provide a solid foundation for teachers to implement the Playmaker approach in their work with children. However, some of the most important work takes place after each training in the form of supporting teachers in the field to “live” the model. Therefore ongoing individual and group support is provided for all Playmakers. This support includes:<br><br>

                        <b>Support Calls:</b> All Playmakers who have attended the 101 Discovery are offered training support from the Gèrye Jwa staff. During these calls, staff provide guidance on applying tools and techniques learned in the training to their work in their classrooms and in their personal lives. A more in-depth follow-up/support plan is implemented after the 202 training.<br><br>
                        <b>Boosters:</b> All Playmakers who have attended at least the 101 are invited to 3-hour Booster sessions that help them put new learning into practice, build a sense of community, provide new tools and support self-care.<br><br>
                        <b>Site visits:</b> The Gèrye Jwa staff conducts site visits in classrooms/work environment in order to provide direct modeling and support.<br><br>
                        <b>Website and socio-media</b>: All Playmakers have access to our website where they can have more information and enjoy our music album. Those who are on Facebook and Whatsapp have the opportunity to stay more connected to the organization through information sharing and group discussion.<br><br>
                        
                    </p>
                </div>
            </div>

            <div class="row" id="calendar">
                <div class="col">
                    <div class="h-100">
                        <h4 class="center">Training Calendar</h4>
                        <br><br>
                        <div id="cal"></div>
                        <br><br>
                        <div class="text-center"><a href="{% url 'becomeGeryeJwa' %}" class="btn btn-outline-success" style="border-radius: 30px">{% trans 'Become a geryejwa' %}</a></div>
                    </div>
                </div>
            </div>
        </section>


        <section class="mt-5">
            <div class="faq">
                <div class="row bg-success card my-4 mb-3 pd-l-2 text-white">
                    <h3>
                        <span class="fa fa-question-circle"></span>  Frequently asked questions
                    </h3>
                </div>

                <div class="row">
                    <p class="col-sm-6 col-md-12">
                        Below, we answer some the most frequently asked Questions on our platform
                    </p>

                    <ul id="accordion" class="col-sm-6 col-md-12">
                        <!-- Question one -->
                        <li>
                            <div id="choose" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
                                How often do you upgrade the system ?
                                <span class="fa fa-chevron-up fa-1x text-info pull-right"></span>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </li>

                        <!-- Question two -->
                        <li>
                            <div class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Where do I go incase I have a complaint?
                                <span class="fa fa-chevron-down fa-1x text-info pull-right"></span>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </li>

                        <!-- Question three -->
                        <li>
                            <div class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Do you have any outlets in the country ?
                                <span class="fa fa-chevron-down fa-1x text-info pull-right"></span>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </li>

                        <!-- Question Four -->
                        <li>
                            <div class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                How can I file a complaint?
                                <span class="fa fa-chevron-down fa-1x text-info pull-right"></span>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </li>

                        <!-- Questiion Five -->
                        <li>
                            <div class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                How can I join the team?
                                <span class="fa fa-chevron-down fa-1x text-info pull-right"></span>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </li>

                        <!-- Question Six-->
                        <li>
                            <div class="collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                In case I forgot my password, what do I do?
                                <span class="fa fa-chevron-down fa-1x text-info pull-right"></span>
                            </div>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

    </div>
</div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        var eventData = [
            {% for e in all_events %}
            {"pk":"{{e.id}}","date":"{{e.date_time|date:'Y-m-d'}}","badge":true,"title":"{{e.name}}","classname":"purple-event pointer","url":'{% url "eventsDayView" obj.slug e.date_time|date:"Y" e.date_time|date:"m" e.date_time|date:"d" %}'},
            {% endfor %}
            /*{"date":"2017-11-16","badge":true,"title":"Example 2"},
            {
                "date":"2017-11-30",
                "badge":true,
                "title":"Tonight",
                "body":"<p class=\"lead\">Party<\/p><p>Like it's 1999.<\/p>",
                "footer":"At Paisley Park",
                "classname":"purple-event"
            }*/
        ];
        
        $("#cal").zabuto_calendar({
            modal: true,
            today: true,
            weekstartson: 0,
            nav_icon: {
                prev: '<i class="fa fa-chevron-circle-left"></i>',
                next: '<i class="fa fa-chevron-circle-right"></i>'
            },
            data: eventData,
            
            legend: [
                // {type: "text", label: "Upcoming events", badge: "00"},
                // {type: "block", label: "Past events", classname: "bg-warning"},
                // {type: "spacer"},
                // {type: "text", label: "Bad"},
                // {type: "list", list: ["grade-1", "grade-2", "grade-3", "grade-4"]},
                // {type: "text", label: "Good"}
            ],
            action: function () {
                return myDateFunction(this, true);
            },
            action_nav: function () {
                return myNavFunction(this);
            },
        });

        function myNavFunction(obj) {
            /*$(".table-events-spin").show();
            $(".table-events").hide();
            var id = "#"+obj.id,
                m = $(id).data("to").month,
                y = $(id).data("to").year;

            $.ajax({
                url:"",
                type:"GET",
                data:{
                    m:m,
                    y:y,
                    w:"get-events",
                    csfrmiddlewaretoken:$("input[name=csfrmiddlewaretoken]").val(),
                },
                success:function(data){
                    $(".table-events").replaceWith($(".table-events",data));
                    $(".table-events-spin").hide();
                    $(".table-events").show();
                },
                error:function(){
                    $(".table-events-spin").hide();
                    $(".table-events").show();
                }
            });*/
        }

        function myDateFunction(obj, fromModal) {
            // if($("#cover-calendar").hasClass("col-sm-3")){
            //     $("#cover-calendar").removeClass("col-sm-3").addClass("col-sm-6");
            // }

                

            // $("#cover-display-img").hide();
            // var id = "#"+obj.id;
            // var name = obj.title;
            // //$("#event-modal").modal("hide");
            
            // var date = $(id).data("date");
            // var pk = $(id).data("pk");
            // var hasEvent = $(id).data("hasEvent");

            // if(hasEvent){
            //     // $("#event-modal .modal-header");
            //     // $("#event-modal").modal("show");
            //     // $("#event-modal").find(".modal-title").text(name);
            //     $.ajax({
            //         url:"",
            //         type:"GET",
            //         data:{
            //             date:date,
            //             w:"get-day-events",
            //         },
            //         success:function(data){
            //             $("#cover-modal .child-all-events").show()
            //             $("#cover-modal .child-spin").hide()

            //             $("#cover-modal .child-all-events").replaceWith($("#cover-modal .child-all-events",$(data)));
            //             $("#cover-modal").show();
            //             // $("#cover-modal").replaceWith($("#cover-modal .modal-body",$(data)));
            //         },
            //     });
            //     return;
            // }
        }
    </script>
{% endblock %}