{% extends 'base.html' %}
{% load static i18n %}

{% block title %}{% trans 'Sign in' %}{% endblock %}
{% block media %}{% endblock %}

{% block body %}
<div class="container">
	
	<div class="d-flex align-items-center justify-content-center" style="min-height: 470px">
		
		<form class="text-left" action="" method="post" style=";width: 40%">{% csrf_token %}
			<div class="form-group">
				<div class="{% if form.email.errors %} has-error {% endif %}">
					<label for="{{form.email.id_for_label}}" class="control-label">Email address <span class="red">*</span></label>
					{{form.email}}
					
		           	<div class="invalid-feedback">
		      			{{form.email.errors.as_text}}
		   			</div>
				</div>
				
			</div>
			<div class="left form-group">
				
				<div class="{% if form.password.errors %} has-error {% endif %}">
					<label for="{{form.password.id_for_label}}" class="control-label">Password <span class="red">*</span></label>
					{{form.password}}
					
		           	<div class="invalid-feedback">
		      			{{form.password.errors.as_text}}
		   			</div>
				</div>
				
			</div>
			{% url 'forgotAccount' as the_url %}
			<p class="right"><a href="{{the_url}}">{% blocktrans %}Forgot account{% endblocktrans %}</a></p>
			<button class="btn btn-success" type="submit">{% trans 'Log in' %}</button><br>
			{% url 'signup' as the_url %}
		</form>
	</div>
</div>
<style type="text/css">

</style>
{% endblock %}