{% extends 'base.html' %}
{% load static i18n %}

{% block media %}{% endblock %}

{% block css %}{% endblock %}

{% block body %}
	<div class="mx-auto" id="index">
		<div class="d-flex align-items-center justify-content-center fitscreen" style="background: url('{% static 'img/candle.jpg' %}');background-size: cover;position: relative;">
			<div class="overlay"></div>
			<h1 class="  white san-francisco" style="z-index: 2">Le lavi a paret tou nwa, pa modi desten, jis limen yon chandel</h1>
		</div>
	</div>
	<section class="d-flex align-items-center px-3 py-3 mt-5" style="min-height:500px;">
		<div class="col">
			<h1 style="color: #006666" class="underline-title text-center animatable bounceIn">{% trans 'Our Story' %}</h1>
			<div class="row " style="color: #006666">
				<div class="col-10 offset-1 f-20 text-center">
					<p class="">
						The Playmaker movement started in the United States in 1989, under the name Project Joy, to heal and strengthen children - especially those whose lives have been deeply affected by trauma.
					</p>
					<p>
						Over time, the movement became Life Is Good Playmakers after it was embraced by the <a href="#">Life Is Good Kids Foundation (LIGKF)</a>, a Boston-based non-profit organization.
					</p>

					<p>
						Following the January, 2010 earthquake, members of our team began working with LIGKF. Supported with appropriate trainings and supplied with play equipment, our team members began running playgroups for children living in tent cities in and around Port-au-Prince. We called ourselves the GÈRYE JWA since we are committed to protecting the playful optimism of Haiti's children.
					</p>

					<p>
						With the financial support of the Life Is Good Kids Foundation, several members of our team received additional advanced training both in Haiti and the United States in 2010 and 2011. In late 2011, we opened our official office under the name of GÈRYE JWA/Life Is Good Playmakers Ayiti and continue to share the same mission with LIGKF. To date, our team has trained over 2,000 Playmakers who are bringing a joyful, healing approach to more than 30,000 children.
					</p>
				</div>
				
			</div>
		</div>
	</section>
{% endblock %}