{% extends 'base.html' %}


{% block body %}


{% block media %}
{% endblock %}

	<div class="mx-auto" id="index">
	<style type="text/css">
		.underline-title {
			color: #333;
			text-align: center;
			text-transform: uppercase;
			font-family: "Roboto", sans-serif;
			font-weight: bold;
			position: relative;
			margin: 30px 0 60px;
		}
		.underline-title::after {
			content: "";
			width: 100px;
			position: absolute;
			margin: 0 auto;
			height: 3px;
			background: #8fbc54;
			left: 0;
			right: 0;
			bottom: -10px;
		}
		#team {
		    background: #eee !important;
		}

		.btn-primary:hover,
		.btn-primary:focus {
		    background-color: #108d6f;
		    border-color: #108d6f;
		    box-shadow: none;
		    outline: none;
		}

		.btn-primary {
		    color: #fff;
		    background-color: #007b5e;
		    border-color: #007b5e;
		}

		section {
		    padding: 60px 0;
		}

		section .section-title {
		    text-align: center;
		    color: #007b5e;
		    margin-bottom: 50px;
		    text-transform: uppercase;
		}

		#team .card {
		    border: none;
		    background: #ffffff;
		}

		.image-flip:hover .backside,
		.image-flip.hover .backside {
		    -webkit-transform: rotateY(0deg);
		    -moz-transform: rotateY(0deg);
		    -o-transform: rotateY(0deg);
		    -ms-transform: rotateY(0deg);
		    transform: rotateY(0deg);
		    border-radius: .25rem;
		}

		.image-flip:hover .frontside,
		.image-flip.hover .frontside {
		    -webkit-transform: rotateY(180deg);
		    -moz-transform: rotateY(180deg);
		    -o-transform: rotateY(180deg);
		    transform: rotateY(180deg);
		}

		.mainflip {
		    -webkit-transition: 1s;
		    -webkit-transform-style: preserve-3d;
		    -ms-transition: 1s;
		    -moz-transition: 1s;
		    -moz-transform: perspective(1000px);
		    -moz-transform-style: preserve-3d;
		    -ms-transform-style: preserve-3d;
		    transition: 1s;
		    transform-style: preserve-3d;
		    position: relative;
		}

		.frontside {
		    position: relative;
		    -webkit-transform: rotateY(0deg);
		    -ms-transform: rotateY(0deg);
		    z-index: 2;
		    margin-bottom: 30px;
		}

		.backside {
		    position: absolute;
		    top: 0;
		    left: 0;
		    background: white;
		    -webkit-transform: rotateY(-180deg);
		    -moz-transform: rotateY(-180deg);
		    -o-transform: rotateY(-180deg);
		    -ms-transform: rotateY(-180deg);
		    transform: rotateY(-180deg);
		    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
		    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
		    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
		}

		.frontside,
		.backside {
		    -webkit-backface-visibility: hidden;
		    -moz-backface-visibility: hidden;
		    -ms-backface-visibility: hidden;
		    backface-visibility: hidden;
		    -webkit-transition: 1s;
		    -webkit-transform-style: preserve-3d;
		    -moz-transition: 1s;
		    -moz-transform-style: preserve-3d;
		    -o-transition: 1s;
		    -o-transform-style: preserve-3d;
		    -ms-transition: 1s;
		    -ms-transform-style: preserve-3d;
		    transition: 1s;
		    transform-style: preserve-3d;
		}

		.frontside .card,
		.backside .card {
		    min-height: 312px;
		}

		.backside .card a {
		    font-size: 18px;
		    color: #007b5e !important;
		}

		.frontside .card .card-title,
		.backside .card .card-title {
		    color: #007b5e !important;
		}

		.frontside .card .card-body img {
		    width: 120px;
		    height: 120px;
		    border-radius: 50%;
		}

	</style>	
		<section id="team" class="pb-5">
		    <div class="container">
		        <br><br>
				<h1 style="color: #85BC3B" class="underline-title">Our team</h1>
				<h4 class="text-center san-francisco">Our Playmaker Team keeps it joyful, playful, creative and connected.</h4><br>
		        <div class="row">
		            <!-- Team member -->
		            <div class="col-xs-12 col-sm-6 col-md-4">
		                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
		                    <div class="mainflip">
		                        <div class="frontside">
		                            <div class="card">
		                                <div class="card-body text-center">
		                                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
		                                    <h4 class="card-title">Sunlimetech</h4>
		                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
		                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
		                                </div>
		                            </div>
		                        </div>
		                        <div class="backside">
		                            <div class="card">
		                                <div class="card-body text-center mt-4">
		                                    <h4 class="card-title">Sunlimetech</h4>
		                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
		                                    <ul class="list-inline">
		                                        <li class="list-inline-item">
		                                            <a class="social-icon text-xs-center" target="_blank" href="#">
		                                                <i class="fa fa-facebook"></i>
		                                            </a>
		                                        </li>
		                                        <li class="list-inline-item">
		                                            <a class="social-icon text-xs-center" target="_blank" href="#">
		                                                <i class="fa fa-twitter"></i>
		                                            </a>
		                                        </li>
		                                        <li class="list-inline-item">
		                                            <a class="social-icon text-xs-center" target="_blank" href="#">
		                                                <i class="fa fa-skype"></i>
		                                            </a>
		                                        </li>
		                                        <li class="list-inline-item">
		                                            <a class="social-icon text-xs-center" target="_blank" href="#">
		                                                <i class="fa fa-google"></i>
		                                            </a>
		                                        </li>
		                                    </ul>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <!-- ./Team member -->
		            <!-- Team member -->
		            <div class="col-xs-12 col-sm-6 col-md-4">
		                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
		                    <div class="mainflip">
		                        <div class="frontside">
		                            <div class="card">
		                                <div class="card-body text-center">
		                                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png" alt="card image"></p>
		                                    <h4 class="card-title">Sunlimetech</h4>
		                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
		                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
		                                </div>
		                            </div>
		                        </div>
		                        <div class="backside">
		                            <div class="card">
		                                <div class="card-body text-center mt-4">
		                                    <h4 class="card-title">Sunlimetech</h4>
		                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
		                                    <ul class="list-inline">
		                                        <li class="list-inline-item">
		                                            <a class="social-icon text-xs-center" target="_blank" href="#">
		                                                <i class="fa fa-facebook"></i>
		                                            </a>
		                                        </li>
		                                        <li class="list-inline-item">
		                                            <a class="social-icon text-xs-center" target="_blank" href="#">
		                                                <i class="fa fa-twitter"></i>
		                                            </a>
		                                        </li>
		                                        <li class="list-inline-item">
		                                            <a class="social-icon text-xs-center" target="_blank" href="#">
		                                                <i class="fa fa-skype"></i>
		                                            </a>
		                                        </li>
		                                        <li class="list-inline-item">
		                                            <a class="social-icon text-xs-center" target="_blank" href="#">
		                                                <i class="fa fa-google"></i>
		                                            </a>
		                                        </li>
		                                    </ul>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <!-- ./Team member -->
		            <!-- Team member -->
		            <div class="col-xs-12 col-sm-6 col-md-4">
		                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
		                    <div class="mainflip">
		                        <div class="frontside">
		                            <div class="card">
		                                <div class="card-body text-center">
		                                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_03.png" alt="card image"></p>
		                                    <h4 class="card-title">Sunlimetech</h4>
		                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
		                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
		                                </div>
		                            </div>
		                        </div>
		                        <div class="backside">
		                            <div class="card">
		                                <div class="card-body text-center mt-4">
		                                    <h4 class="card-title">Sunlimetech</h4>
		                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
		                                    <ul class="list-inline">
		                                        <li class="list-inline-item">
		                                            <a class="social-icon text-xs-center" target="_blank" href="#">
		                                                <i class="fa fa-facebook"></i>
		                                            </a>
		                                        </li>
		                                        <li class="list-inline-item">
		                                            <a class="social-icon text-xs-center" target="_blank" href="#">
		                                                <i class="fa fa-twitter"></i>
		                                            </a>
		                                        </li>
		                                        <li class="list-inline-item">
		                                            <a class="social-icon text-xs-center" target="_blank" href="#">
		                                                <i class="fa fa-skype"></i>
		                                            </a>
		                                        </li>
		                                        <li class="list-inline-item">
		                                            <a class="social-icon text-xs-center" target="_blank" href="#">
		                                                <i class="fa fa-google"></i>
		                                            </a>
		                                        </li>
		                                    </ul>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <!-- ./Team member -->
		            <!-- Team member -->
		            <div class="col-xs-12 col-sm-6 col-md-4">
		                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
		                    <div class="mainflip">
		                        <div class="frontside">
		                            <div class="card">
		                                <div class="card-body text-center">
		                                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_04.jpg" alt="card image"></p>
		                                    <h4 class="card-title">Sunlimetech</h4>
		                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
		                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
		                                </div>
		                            </div>
		                        </div>
		                        <div class="backside">
		                            <div class="card">
		                                <div class="card-body text-center mt-4">
		                                    <h4 class="card-title">Sunlimetech</h4>
		                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
		                                    <ul class="list-inline">
		                                        <li class="list-inline-item">
		                                            <a class="social-icon text-xs-center" target="_blank" href="#">
		                                                <i class="fa fa-facebook"></i>
		                                            </a>
		                                        </li>
		                                        <li class="list-inline-item">
		                                            <a class="social-icon text-xs-center" target="_blank" href="#">
		                                                <i class="fa fa-twitter"></i>
		                                            </a>
		                                        </li>
		                                        <li class="list-inline-item">
		                                            <a class="social-icon text-xs-center" target="_blank" href="#">
		                                                <i class="fa fa-skype"></i>
		                                            </a>
		                                        </li>
		                                        <li class="list-inline-item">
		                                            <a class="social-icon text-xs-center" target="_blank" href="#">
		                                                <i class="fa fa-google"></i>
		                                            </a>
		                                        </li>
		                                    </ul>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <!-- ./Team member -->
		            <!-- Team member -->
		            <div class="col-xs-12 col-sm-6 col-md-4">
		                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
		                    <div class="mainflip">
		                        <div class="frontside">
		                            <div class="card">
		                                <div class="card-body text-center">
		                                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_05.png" alt="card image"></p>
		                                    <h4 class="card-title">Sunlimetech</h4>
		                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
		                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
		                                </div>
		                            </div>
		                        </div>
		                        <div class="backside">
		                            <div class="card">
		                                <div class="card-body text-center mt-4">
		                                    <h4 class="card-title">Sunlimetech</h4>
		                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
		                                    <ul class="list-inline">
		                                        <li class="list-inline-item">
		                                            <a class="social-icon text-xs-center" target="_blank" href="#">
		                                                <i class="fa fa-facebook"></i>
		                                            </a>
		                                        </li>
		                                        <li class="list-inline-item">
		                                            <a class="social-icon text-xs-center" target="_blank" href="#">
		                                                <i class="fa fa-twitter"></i>
		                                            </a>
		                                        </li>
		                                        <li class="list-inline-item">
		                                            <a class="social-icon text-xs-center" target="_blank" href="#">
		                                                <i class="fa fa-skype"></i>
		                                            </a>
		                                        </li>
		                                        <li class="list-inline-item">
		                                            <a class="social-icon text-xs-center" target="_blank" href="#">
		                                                <i class="fa fa-google"></i>
		                                            </a>
		                                        </li>
		                                    </ul>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <!-- ./Team member -->
		            <!-- Team member -->
		            <div class="col-xs-12 col-sm-6 col-md-4">
		                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
		                    <div class="mainflip">
		                        <div class="frontside">
		                            <div class="card">
		                                <div class="card-body text-center">
		                                    <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_06.jpg" alt="card image"></p>
		                                    <h4 class="card-title">Sunlimetech</h4>
		                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
		                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
		                                </div>
		                            </div>
		                        </div>
		                        <div class="backside">
		                            <div class="card">
		                                <div class="card-body text-center mt-4">
		                                    <h4 class="card-title">Sunlimetech</h4>
		                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
		                                    <ul class="list-inline">
		                                        <li class="list-inline-item">
		                                            <a class="social-icon text-xs-center" target="_blank" href="#">
		                                                <i class="fa fa-facebook"></i>
		                                            </a>
		                                        </li>
		                                        <li class="list-inline-item">
		                                            <a class="social-icon text-xs-center" target="_blank" href="#">
		                                                <i class="fa fa-twitter"></i>
		                                            </a>
		                                        </li>
		                                        <li class="list-inline-item">
		                                            <a class="social-icon text-xs-center" target="_blank" href="#">
		                                                <i class="fa fa-skype"></i>
		                                            </a>
		                                        </li>
		                                        <li class="list-inline-item">
		                                            <a class="social-icon text-xs-center" target="_blank" href="#">
		                                                <i class="fa fa-google"></i>
		                                            </a>
		                                        </li>
		                                    </ul>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <!-- ./Team member -->

		        </div>
		    </div>
		</section>
	</div>

{% endblock %}