{% extends 'base.html' %}
{% load static i18n %}

{% block body %}

{% block media %}
{% endblock %}

<div class="containe" style="min-height: 100vh" id="index">
	<form class="col-md-8 offset-2 mt-3 border p-4" style="background-color: #f0f8ff" action="" method="post">
		{% csrf_token %}
		<h4 class="upper">Gèrye Jwa Volunteer Form</h4>
		<p class="italic">Gèrye Jwa is open to new partnerships and is willing to come to you organization to help you create optimal environment, for the kids you serve and for your staff, if you invite us. Please take a few minutes to fill out this form and we will get back to you in a couple days.</p>
		<div class="form-row form-group">
			<div class="col">
				<label>First Name <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.first_name.errors %}
					<i class="control-label">{{form.first_name.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.first_name}}
			</div>
			<div class="col">
				<label>Middle Name</label>
				<label class="label-error control-label">
				{% if form.middle_name.errors %}
					<i class="control-label">{{form.middle_name.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.middle_name}}
			</div>
			<div class="col">
				<label>Last Name <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.last_name.errors %}
					<i class="control-label">{{form.last_name.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.last_name}}
			</div>
		</div>		

		<div class="form-row form-group">
			<div class="col">
				<label>Address <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.address.errors %}
					<i class="control-label">{{form.address.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.address}}
			</div>
			<div class="col">
				<label>Street Address <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.street_address.errors %}
					<i class="control-label">{{form.street_address.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.street_address}}
			</div>

			<div class="col">
				<label>Address Line 2</label>
				<label class="label-error control-label">
				{% if form.address_line_2.errors %}
					<i class="control-label">{{form.address_line_2.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.address_line_2}}
			</div>
		</div>	
		<div class="form-row form-group">
			<div class="col">
				<label>City <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.city.errors %}
					<i class="control-label">{{form.city.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.city}}
			</div>
			<div class="col">
				<label>State / Province / Region <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.state.errors %}
					<i class="control-label">{{form.state.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.state}}
			</div>
			<div class="col">
				<label>ZIP / Postal Code <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.zip_code.errors %}
					<i class="control-label">{{form.zip_code.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.zip_code}}
			</div>
		</div>
		<div class="form-row form-group">
			<div class="col">
				<label>Country <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.country.errors %}
					<i class="control-label">{{form.country.errors.as_text}}</i>
				{%endif%}
				</label>
				<select class="form-control" name="country" id="id_country">
					{% include 'country.html' %}
				</select>
			</div>
			<div class="col">
				<label>Email <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.email.errors %}
					<i class="control-label">{{form.email.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.email}}
			</div>
			<div class="col">
				<label>Phone <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.phone.errors %}
					<i class="control-label">{{form.phone.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.phone}}
			</div>
		</div>
		<h5 class="bold">Intres</h5>
		
		<div class="form-row form-group">
			<div class="col-12">
				<label>Interests <span class="red">*</span></label>
				<span class="help-text"> Please tell us about the type of volunteer work you would like to do and in which areas you are interested in volunteering</span>
				<label class="label-error control-label">
				{% if form.interests.errors %}
					<i class="control-label">{{form.interests.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.interests}}
				<label style="margin-left: 15.7px;margin-top: -20px" for="id_interests_-"><input type="checkbox" name="interests_" value="-" id="id_interests_-" class="ml-3" placeholder="None"> Other</label>
				<div class="ml-5" id="cover-other">
					{{form.other_interest}}
				</div>
			</div>
		</div>
		<div class="form-row form-group">
			<div class="col">
				<label>How did you learn about Gèrye Jwa? <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.hear_about.errors %}
					<i class="control-label">{{form.hear_about.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.hear_about}}
			</div>
		</div>
		<div class="form-row form-group">
			<div class="col">
				<label>Dates and/or timeframe you'd like to volunteer? <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.timeframe.errors %}
					<i class="control-label">{{form.timeframe.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.timeframe}}
			</div>
		</div>	
		<div class="form-row form-group">
			<div class="col">
				<label>Because we work with children and vulnerable communities, Gèrye Jwa requires background checks of its volunteers. Please understand that you need to submit your criminal background record if you want, upon review of your information, Gèrye Jwa to invites you to volunteer with us in Haiti? <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.criminal_background.errors %}
					<i class="control-label">{{form.criminal_background.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.criminal_background}}
			</div>
		</div>
		<div class="form-row form-group">
			<div class="col">
				<label>Any physical limitations? <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.physical_limitations.errors %}
					<i class="control-label">{{form.physical_limitations.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.physical_limitations}}
			</div>
		</div>	
		<div class="form-row form-group">
			<div class="col">
				<label>In case of emergency contact <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.emergency_contact.errors %}
					<i class="control-label">{{form.emergency_contact.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.emergency_contact}}
			</div>
		</div>	
		<div class="form-row form-group">
			<div class="col">
				<label>Please upload your resume <span class="red">*</span></label>
				<label class="label-error control-label">
				{% if form.resume.errors %}
					<i class="control-label">{{form.resume.errors.as_text}}</i>
				{%endif%}
				</label>
				{{form.resume}}
			</div>
		</div>	
		<div>
			As a volunteer of your organization I agree to abide by the policies and procedures. I understand that I will be volunteering at my own risk and that the organization, its employees and affiliates, cannot assume any responsibility for any liability for any accident, injury or health problem which may arise from any volunteer work I perform for the organization. I agree that all the work I do is on a volunteer basis and I am not eligible to receive any monetary payment or reward. 

		</div>
		<br>
		<div class="form-row form-group">
			<div class="col">
				<button type="submit" class="btn btn-success">Save</button>
			</div>
		</div>
	</form>
</div>

{% endblock %}

{% block script %}
	<script type="text/javascript">
		var kind = $('id_interests_-');
		if($(kind).prop("checked")){
			$("#cover-other").show();
			$("#cover-other input").focus();
		}else{
			$("#cover-other").hide();
		}

		$('#id_interests_-').on('click',function(){
			var kind = $(this);
			if($(kind).prop("checked")){
				$("#cover-other").show();
				$("#cover-other input").focus();
			}else{
				$("#cover-other").hide();
			}
		});
	</script>
{% endblock %}