{% load static %}
<html lang="en">
    <head>
		<title>{% block title %}Gerye Jwa {% endblock %} | LigplayMakers</title>
	    
	    {% include 'meta.html' %}
		<!-- ****** faviconit.com favicons ****** -->

		<!-- Bootstrap core CSS -->
		{% if DEBUG %}
		<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
		<link href="{% static 'font-awesome/animation.min.css' %}" rel="stylesheet" />
		<link href="{% static 'bootstrap-notify/css/bootstrap-notify.min.css' %}" rel="stylesheet" />
		<link href="{% static 'bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" />
		{% else %}
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://use.fontawesome.com/ae66daadbc.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-notify/0.2.0/css/bootstrap-notify.min.css"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		{% endif %}

		<link href="{% static 'css/animated.css' %}" rel="stylesheet">
		<link href="{% static 'css/block-animation.css' %}" rel="stylesheet">
		<link href="{% static 'css/abc.css' %}" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'slick-1.8.1/slick/slick.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'slick-1.8.1/slick/slick-theme.css' %}"/>

		<link rel="stylesheet" href="{% static 'mayco/mayco-handler-1.1.css' %}?v=1.1" />
		<link rel="stylesheet" href="{% static 'calendar/css/zabuto_calendar.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.1" />
		{% block css %}
		{% endblock %}

		<!-- Custom styles for this template -->
		<link href="https://fonts.googleapis.com/css?family=Dosis|PT+Sans|Quicksand|Gamja+Flower|Rubik|Text+Me+One" rel="stylesheet">
		<style type="text/css">
				
			.quicksand{
			    font-family: 'Quicksand', sans-serif;
			}
			.dosis{
			    font-family: 'Dosis', sans-serif;
			}
			.pt-sans{
			    font-family: 'PT Sans', sans-serif;
			}
			.text-me{
			    font-family: 'Text Me One', sans-serif;
			}
			.gamja{
			    font-family: 'Gamja Flower', cursive;
			}
			.rubik{
			    font-family: 'Rubik', sans-serif;
			}




		</style>
		<link href="{% static 'fonts/fonts.css' %}?v=1.1" rel="stylesheet">
		<link href="{% static 'css/abc.css' %}?v=1.1" rel="stylesheet">
<!-- 		<script type="text/javascript">
			 var roomName = {{ room_name_json }};

		    var chatSocket = new WebSocket(
		        'ws://' + window.location.host +
		        '/ws/chat/' + roomName + '/');

		    chatSocket.onmessage = function(e) {
		        var data = JSON.parse(e.data);
		        var message = data['message'];
		        document.querySelector('#chat-log').value += (message + '\n');
		    };

		    chatSocket.onclose = function(e) {
		        console.error('Chat socket closed unexpectedly');
		    };

		    document.querySelector('#chat-message-input').focus();
		    document.querySelector('#chat-message-input').onkeyup = function(e) {
		        if (e.keyCode === 13) {  // enter, return
		            document.querySelector('#chat-message-submit').click();
		        }
		    };

		    document.querySelector('#chat-message-submit').onclick = function(e) {
		        var messageInputDom = document.querySelector('#chat-message-input');
		        var message = messageInputDom.value;
		        chatSocket.send(JSON.stringify({
		            'message': message
		        }));

		        messageInputDom.value = '';
		    };
		</script>
	 -->
	

		{% include 'navbar-top.html' %}
		{% include 'navbar.html' %}

			{% if messages %}
			<div class="messages">
			    {% for message in messages %}
			    <div{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show"{% endif %}  role="alert">{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
			    {% endfor %}
			</div>
			{% endif %}
		</div>
		{% block media %}

		<video id="video" class="" poster="" id="bgvid" playsinline autoplay muted loop>
		<source src="{% static 'videos/MVI_0525.MOV' %}" type="video/mp4">
		</video>
		<style type="text/css">
			video { 
			    position: fixed;
			    top: 50%;
			    left: 50%;
			    min-width: 100%;
			    /*width: auto;*/
			    z-index: -100;
			    transform: translateX(-50%) translateY(-50%);
				background: #616161;
				background: -webkit-linear-gradient(to right, #9bc5c3, #616161);
				background: linear-gradient(to right, #9bc5c3, #616161);
			  	transition: 1s opacity;
			  	background-size: 100% 100%;
			  	background-attachment: fixed;
			  	min-height:100%;
			}
		</style>

		<section class="row no-gutters align-items-center text-center white" style="position: relative;background:url(https://storage.googleapis.com/kapwing/final_5c1123fb32086800136a12e4.mp4);height: calc(100vh - 177px);background-attachment: fixed;background-size: cover;">
			
			{% block text %}
			<div class="overlay"></div>
			<div style="z-index: 2">
				<h1 style="font-size: 60px;color: #85BC3B" class="text-center san-francisco upper animatable fadeInDown">GERYE JWA - Life is good Playmakers Ayiti</h1>
				
				<p class="mx-5 px-5 f-30 animatable fadeInUp san-francisco border-top">Spreads the power of optimism to help people like you better take care of their children</p>
				<a href="{% url 'about' %}" style="border-radius: 30px" class="btn btn-outline-success  animatable fadeInUp">Read more</a>
			</div>
			{% endblock %}
		</section>
		{% endblock %}

		<!-- <body>
		    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
		    <input id="chat-message-input" type="text" size="100"/><br/>
		    <input id="chat-message-submit" type="button" value="Send"/>
		</body> -->

		{% block body %}
		{% endblock %}

		{% block chat %}
		<div class="chat-with-is center hidden-sm" style="position: fixed;bottom: 30px;right: 30px;z-index: 4;display: none">
			<!-- <p class="bold white" style="text-shadow: 3px 1px 1px black"><span class="faa-falling animated">Would you need help ?</p> -->
			<a href="#" id="load-chat-center" class="btn btn-success" style="border-radius: 30px;width: 150px"><i class="fa fa-comment faa-horizontal animated "></i> Chat with us</a>
		</div>
		{% endblock %}

		{% block footer %}
		{% include 'footer.html' %}
		{% endblock %}

		{% if DEBUG %}
		<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
		{#<!-- <script type="text/javascript" src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script> -->#}
		<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bootstrap-notify/js/bootstrap-notify.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>

		{% else %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		{#<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->#} 
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-notify/0.2.0/js/bootstrap-notify.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
		{% endif %}
				
		<script type="text/javascript" src="{% static 'slick-1.8.1/slick/slick.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
		<script type="text/javascript" src="{% static 'calendar/js/zabuto_calendar.js' %}"></script>
			
		<script>
			// Holder.addTheme('thumb', {
			// 	bg: '#55595c',
			// 	fg: '#eceeef',
			// 	text: 'Thumbnail'
			// });

			$(document).on("mouseenter , click","li.bendme , div.bendme",function(){ 
				$('.dropdown-menu', this).stop( true, true ).fadeIn("fast");
                $(this).addClass('open');
                $('b', this).removeClass("caret");$('b', this).addClass("caret-up");  
    		});
    		$(document).on("mouseleave","li.bendme , div.bendme",function(){ 
				$('.dropdown-menu', this).stop( true, true ).fadeOut(100);
                $(this).removeClass('open');
                $('b', this).addClass("caret");$('b', this).removeClass("caret-up"); 
			   
    		}); 

			$(function(){
				$('.chat-with-is').fadeIn(200);

				$("#load-chat-center").click(function(e){
					e.preventDefault();
					var that = this;
					$.get("/chat/",{},function(response){
						if($("#chat-center").length <= 0 ){
							$('.chat-with-is').append(response);
							$(that).hide();
							$('#chat-center').fadeIn(500);
						}
					});
				});

				$(document).on("click","#action_menu_btn",function(e){
					$('#chat-center').remove();
					$("#load-chat-center").fadeIn(250);
				});

				var send_info = false;
				$(document).on("click","#submit-chat-info",function(){
					var that = this;
					if(!send_info){
						$('i',this).addClass("fa-spin");
						$(this).addClass("disabled");
						var form = $("#chat-center .msg_card_body");
						var name = $('[name=name]',form).val();
						var email = $('[name=email]',form).val();
						var data = {'name':name,'email':email,'csrfmiddlewaretoken':"{{csrf_token}}",'w':'chat-info'}
							
						send_info = true;
						$.post("/start-chat/",data,function(response){
							$('i',that).removeClass("fa-spin");
							$(that).removeClass("disabled");
							send_info = false

							// Seetup the chat center to let user chatting
							$('#chat-center').replaceWith(response);



						}).fail(function() {
							$('i',that).removeClass("fa-spin");
							$(that).removeClass("disabled");
							send_info = false
						});
					}
				});
				$(document).on("keypress","#chat-content [name=content]",function(evt){
					var charCode = (evt.which) ? evt.which : evt.keyCode;
					if((charCode === 13))
						$('#chat-content .send_btn').trigger('click');
					
				});

				function render_chat(content,me=true){
					if(me){
						var js = 'justify-content-start';
						var js2 = 'msg_cotainer';
					}else{
						var js = 'justify-content-end';
						var js2 = 'msg_cotainer_send';
					}
					var html = '<div class="justify-content-start mb-4" style="display: table;width: 100%">\
						<iv class="left" style="display: table-cell; vertical-align: top;width: 15%">\
							<img src="https://devilsworkshop.org/files/2013/01/enlarged-facebook-profile-picture.jpg" class="rounded-circle user_img_msg">\
						</div>\
						<div class="msg_cotainer" style="min-width: 100px;display: table-cell; vertical-align: top;">'+content+'\
							<span class="msg_time">8:40 AM, Today</span>\
						</div>\
					</div>';
					return html;
				}
				$(document).on("click","#chat-content .send_btn",function(){
					var that = this;
					var formData = new FormData();
					var content = $("#chat-content [name=content]").val();
					formData.append('content',content);
					formData.append('csrfmiddlewaretoken',"{{csrf_token}}");
					formData.append('w','submit-chat');
					
					$.ajax({
						url:"/start-chat/",
						type:"post",
						data:formData,
						contentType:false,
						processData: false,	
						success:function(){
							$("#chat-center .msg_card_body").append(render_chat(content));
							$("#chat-content [name=content]").val('').focus();
						},
						error:function(){

						},
					});
				});

			});
			$(function(){
				var audio = new Audio('https://menkonpa-static.s3.amazonaws.com/static/song.mp3');
				if(getCookie("_tm") !== undefined && !getCookie('_tm')){
					audio.play();
					$('#toggle-audio i').removeClass("fa-play").addClass("fa-stop");
					$('#toggle-audio').attr("title",'Pause the song');
				}else{
					$('#toggle-audio i').removeClass("fa-stop").addClass("fa-play");
					$('#toggle-audio').attr("title",'Play the song');
				}
				$(document).on("click","#toggle-audio",function(){
					if(audio.paused){
						audio.play();
						deleteCookie('_tm');
						$('i',this).removeClass("fa-play").addClass("fa-pause");
						$(this).attr("title",'Pause the song');
					}else{
						audio.pause();
						setCookie('_tm',1,24*60*60);
						$('i',this).removeClass("fa-stop").removeClass("fa-pause").addClass("fa-play");
						$(this).attr("title",'Play the song');
					}
				});
			});

			$(function(){
				$('#gallery .albums').slick({
		    		dots: true,
				  	infinite: true,
				  	speed: 300,
				  	slidesToShow: 1,
				  	centerMode: true,
				  	variableWidth: true,
				  	autoplay: true,
  					autoplaySpeed: 2000,
		  		});
			});


			function xscroll(){ 
				// alert($("nav.navbar").offset().top);
				var navOffset = $("nav.navbar").offset().top;
				if ($(window).scrollTop() > navOffset) {
			      	$('nav.navbar').addClass("fixed-top");
			      	$('body').css("margin-top","57px");
			    }else if ($(window).scrollTop() < 120) {
					$('nav.navbar').removeClass("fixed-top");
					$('body').css("margin-top","0");
			    }
			}
			$(window).scroll(function () {
				xscroll();			    
			});
			$(document).on("mousemove",function(){
				xscroll();		
			});

			$("a.anchor").on('click', function(event) {
				if (this.hash !== "") {
					event.preventDefault();
					var hash = this.hash;

					$('html, body').animate({
						scrollTop: $(hash).offset().top - 200
					}, 800, function(){

						// window.location.hash = hash;
					});
				} // End if
			});

			
		</script>
		<script type="text/javascript">
			jQuery(function($) {
			  
			  	// Function which adds the 'animated' class to any '.animatable' in view
			  	var doAnimations = function() {
			    
			    	// Calc current offset and get all animatables
			    	var offset = $(window).scrollTop() + $(window).height(),
			        	$animatables = $('.animatable'),
			        	$stats = $('.countable');
			    
			    	// Unbind scroll handler if we have no animatables
			    	if ($animatables.length == 0 && $stats.length == 0) {
			      		$(window).off('scroll', doAnimations);
			    	}
			    
			    	// Check all animatables and animate them if necessary
					$animatables.each(function(i) {
			       		var $animatable = $(this);
						// if (($animatable.offset().top + $animatable.height() - 20) < offset) {
						var top_of_element = $(this).offset().top;
					    var bottom_of_element = $(this).offset().top + $(this).outerHeight();
					    var bottom_of_screen = $(window).scrollTop() + window.innerHeight;
					    var top_of_screen = $(window).scrollTop();

					    if ((bottom_of_screen > top_of_element) && (top_of_screen < bottom_of_element)){
			       			$animatable.removeClass('animatable').addClass('animated');
						}
			   		});


			    	// Check all animatables and animate them if necessary
					$stats.each(function(i) {
			       		var $stat = $(this);
						// if (($animatable.offset().top + $animatable.height() - 20) < offset) {
						var top_of_element = $(this).offset().top;
					    var bottom_of_element = $(this).offset().top + $(this).outerHeight();
					    var bottom_of_screen = $(window).scrollTop() + window.innerHeight;
					    var top_of_screen = $(window).scrollTop();

					    if ((bottom_of_screen > top_of_element) && (top_of_screen < bottom_of_element)){
			       			// $stat.addClass('count');

			       			jQuery({ Counter: 0 }).animate({ Counter: $stat.text() }, {
								duration: 2000,
								easing: 'swing',
								step: function () {
									$stat.text(Math.ceil(this.Counter));
								}
							});
							$(this).removeClass("countable");
						}
			   		});



				};
			  
			  	// Hook doAnimations on scroll, and trigger a scroll
				$(window).on('scroll', doAnimations);
			  	$(window).trigger('scroll');

			});
		</script>
		{% block script %}	{% endblock %}
	</body>
</html>
