<div id="chat-center" class="chat">
	<div class="card">
		<div class="card-header msg_head">
			<div class="d-flex bd-highlight">
				<div class="img_cont">
					<img src="https://static.wixstatic.com/media/d059e2_4a6340b551207ce1f4b0a5f719b7b712.png/v1/fill/w_195,h_176,al_c,usm_0.66_1.00_0.01/d059e2_4a6340b551207ce1f4b0a5f719b7b712.png" class="rounded-circle user_img">
					<span class="offline"></span>
				</div>
				<div class="user_info">
					<span>Gerye Jwa Chat Center</span>
					<p>Someone will join you</p>
				</div>
			</div>
			<span id="action_menu_btn"><i class="fa fa-minus"></i></span>
			<div class="action_menu">
				<ul>
					<li><i class="fas fa-user-circle"></i> View profile</li>
					<li><i class="fas fa-users"></i> Add to close friends</li>
					<li><i class="fas fa-plus"></i> Add to group</li>
					<li><i class="fas fa-ban"></i> Block</li>
				</ul>
			</div>
		</div>

		<div class="card-body msg_card_body">
			{% if cc %}
			<p>Hello, {{cc.guest_name}}. How can we help you today?</p>
			{% if not cc.admins.all %}<p>No one is online at the moment, but we will quickly get there</p>{% endif %}
			
			{% for msg in cc.chat_set.all %}
				<div style="display: table;width: 100%" class="{% if not msg.user %}justify-content-start{% else %}justify-content-end{% endif %} mb-4">
					<div class="dimg_cont_msg left" style="display: table-cell; vertical-align: top;width: 15%">
						<img src="https://devilsworkshop.org/files/2013/01/enlarged-facebook-profile-picture.jpg" class="rounded-circle user_img_msg">
					</div>
					<div style="min-width: 100px;display: table-cell; vertical-align: top;" class="{% if not msg.user %}msg_cotainer{% else %}msg_cotainer_send{% endif %}">
						{{msg.content}}
						<span class="msg_time">8:40 AM, Today</span>
					</div>
				</div>
				<!-- <div class="d-flex justify-content-end mb-4">
					<div class="msg_cotainer_send">
						Hi Maryam I think it's 30 miles
						<span class="msg_time_send">8:55 AM, Today</span>
					</div>
					<div class="img_cont_msg">
						<img src="https://yt3.ggpht.com/a-/AJLlDp2tfEIfHjdh3f5ukUFjBFykKQaWGmacHNAL3g=s900-mo-c-c0xffffffff-rj-k-no" class="rounded-circle user_img_msg">
					</div> 
				</div>-->
			{% endfor %}
			{% else %}
			<div class="d-flex justify-content-start mb-4">
				<input type="text" placeholder="Enter your name" class="form-control form-control-sm type_msg" name="name">
			</div>
			<div class="d-flex justify-content-start mb-4">
				<input type="text" placeholder="Enter your email" class="form-control form-control-sm type_msg" name="email">
			</div>
			<button id="submit-chat-info" type="button" class="btn btn-success btn-sm"><i class="fa fa-circle-o-notch"></i> Start the chat</button>
			{% endif %}
		</div>
		{% if cc %}
		<div class="card-footer">
			<form action="" id="chat-content" method="post">{% csrf_token %}
			<div class="input-group">
				<div class="input-group-append">
					<span class="input-group-text attach_btn"><i class="fa fa-paperclip"></i></span>
				</div>
				<textarea name="content" class="form-control type_msg" style="resize: none" placeholder="Type your message..."></textarea>
				<div class="input-group-append">
					<span class="input-group-text send_btn"><i class="fa fa-location-arrow"></i></span>
				</div>
			</div>
			</form>
		</div>
		{% endif %}
	</div>
</div>

<style type="text/css">
	#chat-center{
		margin-top: auto;
		margin-bottom: auto;
		/*display: none;*/
		font-size: 12px;
		z-index: 101 !important;
	}
	#chat-center .card{
		height: 500px;
		border-radius: 15px !important;
		background: #7F7FD5;
       	background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
        background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
        /*background-color: #fff;*/
        width: 350px;
	}
	#chat-center .contacts_body{
		padding:  0.75rem 0 !important;
		overflow-y: auto;
		white-space: nowrap;
	}
	#chat-center .msg_card_body{
		overflow-y: auto;
	}
	#chat-center .card-header{
		border-radius: 15px 15px 0 0 !important;
		border-bottom: 0 !important;
	}
 	#chat-center .card-footer{
		border-radius: 0 0 15px 15px !important;
		border-top: 0 !important;
	}
	#chat-center .search{
		border-radius: 15px 0 0 15px !important;
		background-color: rgba(0,0,0,0.3) !important;
		border:0 !important;
		color:white !important;
	}
	#chat-center .search:focus{
	  	box-shadow:none !important;
       	outline:0px !important;
	}
	#chat-center .type_msg{
		background-color: rgba(0,0,0,0.3) !important;
		border:0 !important;
		color:white !important;
		height: 60px !important;
		overflow-y: auto;
	}
	#chat-center .type_msg:focus{
		box-shadow:none !important;
      	outline:0px !important;
	}
	#chat-center .attach_btn{
		border-radius: 15px 0 0 15px !important;
		background-color: rgba(0,0,0,0.3) !important;
		border:0 !important;
		color: white !important;
		cursor: pointer;
	}
	#chat-center .send_btn{
		border-radius: 0 15px 15px 0 !important;
		background-color: rgba(0,0,0,0.3) !important;
		border:0 !important;
		color: white !important;
		cursor: pointer;
	}
	#chat-center .search_btn{
		border-radius: 0 15px 15px 0 !important;
		background-color: rgba(0,0,0,0.3) !important;
		border:0 !important;
		color: white !important;
		cursor: pointer;
	}
	#chat-center .contacts{
		list-style: none;
		padding: 0;
	}
	#chat-center .contacts li{
		width: 100% !important;
		padding: 5px 10px;
		margin-bottom: 15px !important;
	}
	#chat-center .active{
		background-color: rgba(0,0,0,0.3);
	}
	#chat-center .user_img{
		height: 70px;
		width: 70px;
	}
	#chat-center .user_img_msg{
		height: 40px;
		width: 40px;
		border:1.5px solid #f5f6fa;
	
	}
	#chat-center .img_cont{
		position: relative;
		height: 70px;
		width: 70px;
	}
	#chat-center .img_cont_msg{
		height: 40px;
		width: 40px;
	}
	#chat-center .online_icon{
		position: absolute;
		height: 15px;
		width:15px;
		background-color: #4cd137;
		border-radius: 50%;
		bottom: 0.2em;
		right: 0.4em;
		border:1.5px solid white;
	}
	#chat-center .offline{
		background-color: #c23616 !important;
		position: absolute;
		height: 15px;
		width:15px;
		border-radius: 50%;
		bottom: 0.2em;
		right: 0.4em;
		border:1.5px solid white;
	}
	#chat-center .user_info{
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 15px;
	}
	#chat-center .user_info span{
		font-size: 20px;
		color: black;
	}
	#chat-center .user_info p{
		font-size: 10px;
		color: black;
	}
	#chat-center .video_cam{
		margin-left: 50px;
		margin-top: 5px;
	}
	#chat-center .video_cam span{
		color: white;
		font-size: 20px;
		cursor: pointer;
		margin-right: 20px;
	}
	#chat-center .msg_cotainer{
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 10px;
		border-radius: 25px;
		background-color: #82ccdd;
		padding: 10px;
		position: relative;
	}
	#chat-center .msg_cotainer_send{
		margin-top: auto;
		margin-bottom: auto;
		margin-right: 10px;
		border-radius: 25px;
		background-color: #78e08f;
		padding: 10px;
		position: relative;
	}
	#chat-center .msg_time{
		position: absolute;
		left: 0;
		bottom: -15px;
		color: rgba(255,255,255,0.5);
		font-size: 10px;
	}
	#chat-center .msg_time_send{
		position: absolute;
		right:0;
		bottom: -15px;
		color: rgba(255,255,255,0.5);
		font-size: 10px;
	}
	#chat-center .msg_head{
		position: relative;
	}
	#action_menu_btn{
		position: absolute;
		right: 10px;
		top: 10px;
		/*color: white;*/
		cursor: pointer;
		font-size: 20px;
	}
	#chat-center .action_menu{
		z-index: 1;
		position: absolute;
		padding: 15px 0;
		background-color: rgba(0,0,0,0.5);
		color: white;
		border-radius: 15px;
		top: 30px;
		right: 15px;
		display: none;
	}
	#chat-center .action_menu ul{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	#chat-center .action_menu ul li{
		width: 100%;
		padding: 10px 15px;
		margin-bottom: 5px;
	}
	#chat-center .action_menu ul li i{
		padding-right: 10px;
	
	}
	#chat-center .action_menu ul li:hover{
		cursor: pointer;
		background-color: rgba(0,0,0,0.2);
	}
	@media(max-width: 576px){
		#chat-center .contacts_card{
			margin-bottom: 15px !important;
		}
	}
</style>