<style type="text/css">
	footer li a:hover{
		color: turquoise;
		text-decoration: none;
	}
	footer li a{
		color: #fff;
	}
	footer h5{
		text-transform: uppercase;
		font-family: san-francisco;
		font-weight: bold
	}
</style>
<footer class="py-5" style="background-color: #798686	">
	<div class="d-flex px-3">
		<div class="col-3 text-center">
			<img src="https://static.wixstatic.com/media/d059e2_4a6340b551207ce1f4b0a5f719b7b712.png/v1/fill/w_195,h_176,al_c,usm_0.66_1.00_0.01/d059e2_4a6340b551207ce1f4b0a5f719b7b712.png" height="80">
		</div>
		<div class="col-3">
			<h5>Features</h5>
			<ul class="list-unstyled text-small">
				<li><a class="" href="#">Cool stuff</a></li>
				<li><a class="" href="#">Random feature</a></li>
				<li><a class="" href="#">Team feature</a></li>
				<li><a class="" href="#">Stuff for developers</a></li>
				<li><a class="" href="#">Another one</a></li>
				<li><a class="" href="{% url 'portal' %}">Portal</a></li>
			</ul>
		</div>
		<div class="col-3">
			<h5>Resources</h5>
			<ul class="list-unstyled text-small">
				<li><a class="" href="#">Business</a></li>
				<li><a class="" href="#">Education</a></li>
				<li><a class="" href="#">Government</a></li>
				<li><a class="" href="#">Gaming</a></li>
			</ul>
		</div>
		<div class="col-3">
			<h5>About</h5>
			<ul class="list-unstyled text-small">
				<li><a class="" href="{% url 'team' %}">Team</a></li>
				<li><a class="" href="{% url 'community' %}">Community</a></li>
				<li><a class="" href="{% url 'story' %}">Story</a></li>
				<li><a class="" href="{% url 'partners' %}">Partners</a></li>
			</ul>
			<a href="#" class="text-white"><i class="fa fa-facebook"></i></a>
			<a href="#" class="text-white"><i class="fa fa-twitter"></i></a>
			<a href="#" class="text-white"><i class="fa fa-linkedin"></i></a>
			<a href="#" class="text-white"><i class="fa fa-soundcloud"></i></a>
			<a href="#" class="text-white"><i class="fa fa-instagram"></i></a>
		</div>
	</div>
</footer>