
{% load i18n %}
<nav class="navbar navbar-expand-lg px-5" style="z-index: 100000;width: 100%;background-color:#006666;box-shadow: none;border-bottom: solid 1px gray;">
	
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav rubik mr-auto">
			<li class="nav-item {% if active_item == 'index' %}active{% endif %}">
				<a class="nav-link" href="/"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item dropdown bendme">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				 {% trans 'About' %}
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{% url 'about' %}">{% trans 'us' %}</a>
					<a class="dropdown-item" href="{% url 'team' %}">{% trans 'Our team' %}</a>
					<a class="dropdown-item" href="{% url 'partners' %}">{% trans 'Our partners' %}</a>
				</div>
			</li>

			<li class="nav-item dropdown bendme">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {% trans 'Our program' %}
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item {% if request.path == '/program/' %}anchor{% endif %}" href="{% url 'program' %}#what-we-do">{% trans 'What we do' %}</a>
					<a class="dropdown-item {% if request.path == '/program/' %}anchor{% endif %}" href="{% url 'program' %}#why-we-do-it">{% trans 'Why we do it' %}</a>
					<a class="dropdown-item {% if request.path == '/program/' %}anchor{% endif %}" href="{% url 'program' %}#our-trainings">{% trans 'Our trainings' %}</a>
					<a class="dropdown-item {% if request.path == '/program/' %}anchor{% endif %}" href="{% url 'community' %}">{% trans 'Our community' %}</a>
				</div>
			</li>
			<li class="nav-item {% if active_item == 'involve' %}active{% endif %}">
				<a class="nav-link" href="{% url 'involve' %}"> Get involved</a>
			</li>
			<li class="nav-item {% if active_item == 'donate' %}active{% endif %}">
				<a class="nav-link" href="{% url 'donate' %}"> Donate</a>
			</li>
			<li class="nav-item {% if active_item == 'contact' %}active{% endif %}">
				<a class="nav-link" href="{% url 'contact' %}"><i class="fa fa-phone"></i> Contact us</a>
			</li>
		</ul>

		<!-- <form class="form-inline my-2 my-lg-0">
			<input class="form-control form-control-sm mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="submit">Search</button>
		</form> -->
		<ul class="navbar-nav">
			<li class="nav-item navbar-right">
				<button title="" id="toggle-audio" class="btn btn-xs btn-success"><i class="fa fa-play"></i></button>
			</li>
		</ul>
	</div>
</nav>