{% load i18n %}
<div id="navbar-top" class="d-flex px-5 align-items-center" style="height: 120px;background-color: #f0f8ff;border-bottom: solid 3px white;">
	<div class="col-8">
		<div style="display: inline-block"><img style="margin-top: -25px" src="https://static.wixstatic.com/media/d059e2_4a6340b551207ce1f4b0a5f719b7b712.png/v1/fill/w_195,h_176,al_c,usm_0.66_1.00_0.01/d059e2_4a6340b551207ce1f4b0a5f719b7b712.png" height="120"></div>
	
		<div style="display: inline-block"><h1 class="gamja display-3" style="color:#458b74;margin-top: 25px">GERYE JWA</h1></div>
	</div>
	<div class="col float-right pull-right">
		<div class="float-right right">
			<!-- <a class="mx-1" href="#">English</a> -->
			<span class="gray bold"><i class="fa fa-circle"></i> English</span>
			<a title="{% trans 'Translate into french' %}" data-toggle='tooltip' class="mx-1" href="{% url 'set_language' %}?lg=fr&next={{request.path}}">Francais</a>
		</div>
	</div>
</div>